<div class="contact-details">
  <div class="related-fields">
    <div class="field">
      <%= f.text_field :forename, placeholder: "Forename" %>
    </div>
    <div class="field">
      <%= f.text_field :surname, placeholder: "Surname" %>
    </div>
  </div>

  <div class="related-fields">
    <div class="field">
      <%= f.text_field :email_address, placeholder: "Email Address" %>
    </div>
    <div class="field">
      <%= f.text_field :contact_telephone, placeholder: "Contact Phone" %>
    </div>
  </div>

  <div class="related-fields">
    <div class="field">
      <%= f.select :callback_time, options_for_select(CallbackRequest::TIMES), prompt: 'Callback time' %>
    </div>
    <!--
    <% if @offices.present? %>
      <div class="field">
        <%= f.select :preferred_office, options_for_select(@offices.map{|x| x.address_fields }), prompt: 'Preferred office' %>
      </div>
    <% end %>
    -->
    <% if Flip.services? %>
      <div class="field">
        <%= f.select :service, grouped_options_for_select(Audience.displayed.map{ |x| [x.title, x.services.displayed.root_services.map { |c| ['- ' * c.depth + c.title , c.title] }] }), prompt: 'Service' %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.select :how_heard, options_for_select(['Google search', 'Yell.com search', 'Other search', 'Advertisement', 'Facebook advert', 'Recommendation', 'Existing client', 'Peak FM advert', 'TV advert']), include_blank: 'How did you find us?' %>
  </div>

  <div class="field">
    <%= f.text_area :enquiry_type, placeholder: "Enquiry" %>
  </div>

  <%= f.hidden_field :from_url, value: request.original_url %>
  
  <div class="actions">
    <%= f.submit "Send", class: "submit-button" %>
  </div>
</div>
