<div class="row collapse module-list-index header">
  <%= list_item 'large-2 small-4' do %>
    Quote Reference
  <% end %>
  <%= list_item 'large-2 small-8' do %>
    Name
  <% end %>
  <%= list_item('large-2')  { 'Date' } %>
  <%= list_item('large-2')  { 'Selling' } %>
  <%= list_item('large-2')  { 'Buying' } %>
  <%= list_item('large-1')  { 'Submitted' } %>
  <%= list_item('large-1 hide-for-medium-down text-center last')  { 'View' } %>
  <%#= list_item('large-1 hide-for-medium-down text-center last') { 'Delete' } %>
</div>
