<% present user do |user_presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= user_presenter.id %>">
    <div class="large-6 small-8 columns" data-equalizer-watch="module-list">
      <%= user_presenter.toggle_title %>
      <div style="font-size: 14px;">
        <%= user_presenter.phone %>
        <%= user_presenter.email %>
      </div>
    </div>
    <div class="large-2 small-4 columns" data-equalizer-watch="module-list">
      <%= user_presenter.created_date %>
    </div>
    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= user_presenter.buying %>
    </div>
    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= user_presenter.selling %>
    </div>
    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= user_presenter.submitted %>
    </div>
    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= user_presenter.view_link %>
    </div>
  </div>
<% end %>
