<%= render 'optimadmin/shared/header/main_title', title: "Manage Conveyancing Quotes #{@location.location}" %>
<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Conveyancing Quotes', object: ConveyancingQuotes::QuoteLocation, path: new_conveyancing_quotes_quote_location_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <!-- <%= render 'optimadmin/shared/module/index/order', options: [['A-Z', 'title ASC'], ['Z-A', 'title DESC'], ['Displayed', 'display DESC'], ['Hidden', 'display ASC']] %> -->
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @users.size, path: root_url %>
  </div>
  <div class="row collapse module-list-index header">
    <%= list_item 'large-8 small-8' do %>
      Name
    <% end %>
    <%= list_item('large-2')  { 'Date' } %>
    <%= list_item('large-1')  { 'Submitted' } %>
    <%= list_item('large-1 hide-for-medium-down text-center last')  { 'View' } %>
    <%#= list_item('large-1 hide-for-medium-down text-center last') { 'Delete' } %>
  </div>
  <!-- <div class="module-sortable" data-module="ConveyancingQuotes::QuoteLocation"> -->
  <%= render partial: 'user', collection: @users, as: :user %>
  <!-- </div> -->

  <h2>Incomplete</h2>
  <%= render partial: 'user', collection: @incomplete_users, as: :user %>  
</div>
