<%= render 'optimadmin/shared/header/main_title', title: "Manage Conveyancing Quotes #{@location.location}" %>

<div class="main-content">
  <div class="row module-header collapse">
    <h2>Your Details</h2>
    <div class="name">
      <%= @user.forename %>
      <%= @user.surname %>
    </div>
    <div class="phone">
      <%= @user.phone %>
    </div>
    <div class="email">
      <%= @user.email %>
    </div>

    <%= l @user.created_at, format: :long %>

    <%= render 'optimadmin/conveyancing_quotes/users/purchase', purchase: @user.purchase %>
    <%= render 'optimadmin/conveyancing_quotes/users/sale', sale: @user.sale %>

    <%= render 'optimadmin/conveyancing_quotes/users/address', address: @user.addresses.correspondence if @user.addresses.correspondence.present? %>
    <%= render 'optimadmin/conveyancing_quotes/users/address', address: @user.addresses.property if @user.addresses.property.present? %>

    <% if @user.deeds.present? %>
      <h3>Deeds</h3>
      <%= content_tag :ul, (render partial: 'optimadmin/conveyancing_quotes/users/deed', collection: @user.deeds, as: :deed) %>
    <% end %>
  </div>
</div>
