<%= render 'frequently_asked_questions/shared/javascript' %>
<%= render 'services/shared/show_header' %>

<div class="page-content-wrap">
  <aside class="page-aside-navigation">
    <div class="page-aside-navigation-content">
      <%= render 'services/shared/service_page_aside_navigation' %>
    </div>
  </aside>

  <div class="page-content">
    <% present @service do |service_presenter| %>
      <h1 class="service-page-title" style="<%= service_presenter.colour_property_helper('border-color') %>">
        <%= service_presenter.title %>
        <%= service_presenter.small_icon({alt: service_presenter.title, class: 'service-page-icon'}) %>
      </h1>

      <div class="page-inner-content">
        <div class="service-page-summary">
          <%= service_presenter.summary %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'services/shared/sidebar' %>
</div>

<div class="service-onpage-navigation" id="frequently-asked-questions">
  <div class="page-content-wrap">
    <div class="frequently-asked-questions frequently-asked-questions-list-wrap">
      <%= render partial: 'frequently_asked_questions/shared/single_content_box', collection: @service.frequently_asked_questions.displayed, as: :frequently_asked_question %>
    </div>

    <div class="related-footer-navigation">
      <%= link_to 'Back to service',
              audience_service_path(@audience, @service),
              class: 'related-footer-see-all' %>
    </div>
  </div>
</div>
