<% present @service do |service_presenter| %>
  <%= og_title service_presenter.social_share_title %>
  <%= og_description service_presenter.social_share_description %>
  <%= og_image service_presenter.social_share_image_url %>
<% end %>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'vendor/colorbox' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/shared-components.js' %>
  <%= javascript_include_tag 'components/team-members/slider.js' %>
  <%= javascript_include_tag 'vendor/jquery.colorbox.js' %>
  <%= javascript_include_tag 'components/service-components.js' %>
  <script>
    $(window).load(function() {
      $('.page-aside-navigation-content, .page-content').matchHeight();
    });
  </script>
<% end %>

<div class="page-content-wrap">
  <aside class="page-aside-navigation">
    <div class="page-aside-navigation-content">
      <%= render 'services/shared/service_page_aside_navigation' %>
    </div>
  </aside>

  <div class="page-content">
    <% present @service do |service_presenter| %>
      <h1 class="service-page-title" style="<%= service_presenter.colour_property_helper('border-color') %>">
        <%= service_presenter.title %>
        <%= service_presenter.small_icon({alt: service_presenter.title, class: 'service-page-icon'}) %>
      </h1>

      <div class="page-inner-content">
        <%= service_presenter.summary %>
        <%= service_presenter.content %>
      </div>
    <% end %>
  </div>

  <aside class="page-additional-information">
    <div class="service-page-additional-information-key-team-members">
      <div class="service-page-additional-information-key-team-members-title">
        <h3>
          Talk to our<br />
          <%= @service.title %> team
        </h3>
      </div>

      <div class="service-page-additional-information-key-team-members-profiles">
        <div class="multiple-team-members-slick">
          <%= render partial: 'services/shared/key_team_member_avatars', collection: @service.key_team_members, as: :service_team_member %>
        </div>
      </div>
    </div>

    <%= render 'pages/shared/call_to_actions' %>

    <% if @service.rich_snippet %>
      <div class="service-rich-snippets">
        <%= render(
          "rich_snippets/service_rich_snippet",
          rich_snippet: @service.rich_snippet
         ) %>
      </div>
    <% end %>
  </aside>
</div>

<div class="service-onpage-navigation">
  <% if @onpage_navigation_links.present? %>
    <div class="service-onpage-navigation-links">
      <div class="service-onpage-navigation-links-content">
        <div class="service-onpage-navigation-links-list">
          <% @onpage_navigation_links.each do |onpage_navigation_link| %>
            <% present onpage_navigation_link do |onpage_navigation_presenter| %>
              <%= onpage_navigation_presenter.linked_text(onpage_navigation_presenter.button_text, class: 'service-onpage-navigation-link') %>
            <% end %>
          <% end %>

          <div class="service-onpage-navigation-links-cta">
            <%= link_to (image_tag 'components/icons/call-to-action/white-telephone.png', alt: 'Call us today'),
                        '#', title: 'Call us today' %>

            <%= link_to (image_tag 'components/icons/call-to-action/white-callback.png', alt: 'Request a call back'),
                        '#', title: 'Request a call back' %>

            <%= link_to (image_tag 'components/icons/call-to-action/white-email.png', alt: 'Email us'),
                        '#', title: 'Email us' %>

            <%= link_to (image_tag 'components/icons/call-to-action/white-location.png', alt: 'Our offices'),
                        '#', title: 'Our offices' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @onpage_navigations.present? %>
    <div class="service-onpage-navigation-content">
      <div class="row collapse">
        <% @onpage_navigations.each do |onpage_navigation| %>
          <% present onpage_navigation do |onpage_navigation_presenter| %>
              <div id="<%= onpage_navigation_presenter.anchor %>" class="onpage-navigation-wrap medium-<%= onpage_navigation_presenter.layout %> columns">
                <%= onpage_navigation_presenter.render_partial %>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
