<%= content_for :head do %>
  <%= stylesheet_link_tag 'vendor/colorbox' %>
  <style>
    .large-content-inner__title,
    .onpage-navigation-article-team-member,
    .large-content-aside-title__text,
    .large-content-inner-styles a,
    .onpage-navigation-frequently-asked-question__question {
      border-bottom-color: <%= @service.colour %>
    }

    .nested {
      border-top: 2px solid <%= @service.colour %>;
      border-bottom: 1px solid <%= @service.colour %>;
    }

    .nested a {
      border-bottom: 1px solid <%= @service.colour %>;
      padding-left: 5px;
      padding-right: 5px;
    }

    .large-content-inner-styles h1,
    .large-content-inner-styles h2,
    .large-content-inner-styles h3,
    .large-content-inner-styles h4,
    .large-content-inner-styles h5,
    .large-content-inner-styles h6,
    .large-content-aside-navigation a:hover,
    .large-content-aside-navigation a.active {
      color: <%= @service.colour %>
    }

    .large-onpage-resources {
      background: <%= @service.colour %>
    }

    .large-onpage-resources__title {
      border-bottom-color: <%= @service.text_colour %>;
      color: <%= @service.text_colour %>;
    }

    .service-testimonial__content,
    .service-testimonial__author {
      color: <%= @service.text_colour %>;
    }

    @media screen and (max-width: 39.9375em) and (min-width: 0em) {
      .large-content__aside {
        background: <%= @service.colour %>
      }
    }
  </style>
<% end %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'vendor/jquery.colorbox.js' %>
  <%= javascript_include_tag 'components/service-components.js' %>
<% end %>


<div class="large-content">
  <aside class="large-content__aside">
    <div class="large-content-aside-sticky">
      <%= render 'services/shared/service_large/aside' %>
    </div>
  </aside>

  <main class="large-content__main" style="background-image:url(<%= @service.image.url %>)">
    <section class="large-content-element">
      <div class="large-content-element__section">
        <div class="large-content-inner">
          <div class="large-content-inner__main">
            <h1 class="large-content-inner__title">
             <%= @service.title %>

              <%= image_tag @service.icon.small,
                      alt: '',
                      class: 'large-content-inner__icon' %>
            </h1>

            <div class="testimonials-list-wrap">
              <%= render partial: 'testimonials/shared/single_content_box', collection: @service.testimonials.displayed, cached: true, as: :testimonial %>
            </div>
          </div>

          <aside class="large-content-inner__aside">
            <div class="service-team-member">
                <p>
                  Talk to our <%= @service.title %> Team today on:

                  <%= link_to "tel:#{global_site_settings['Phone'].tr(' ', '')}",
                              class: 'conveyancing-call-to-action
                                      service-team-member__phone
                                      ga-event',
                              data: {
                                event_category: 'Service',
                                event_action: 'Click',
                                event_label:  'Phone'
                              } do %>
                    <span class="calltracks_bannerjonescouk-main">
                      <%= global_site_settings['Phone'] %>
                    </span>
                  <% end %>
                </p>

                <%= render partial: 'services/onpage_navigations/conveyancing/shared/team_member',
                            collection: @service.team_members.key_team_members,
                            cached: true,
                            as: :team_member %>

                <div class="service-cta-block">
                  <div class="service-cta-block__contact">
                  <%= link_to '#',
                            class: 'conveyancing-footer__cta-button toggle-class ga-event',
                            data: {
                              class: 'visible',
                              container: '.remote-contact-form-modal',
                              return: false,
                              event_category: 'Service',
                              event_action: 'Click',
                              event_label:  'Email'
                              } do %>
                    <%= image_tag 'components/icons/sticky-email.png', alt: 'Send an enquiry' %>
                    Email us
                  <% end %>
                  </div>
                  <div class="service-cta-block__contact">
                    <%= link_to '#',
                              class: 'conveyancing-footer__cta-button toggle-class ga-event',
                              data: {
                                class: 'visible',
                                container: '.remote-callback-request-form-modal',
                                return: false,
                                event_category: 'Service',
                                event_action: 'Click',
                                event_label:  'Request a callback'
                              } do %>
                      <%= image_tag 'components/icons/sticky-callback.png', alt: 'Callback request' %>
                      Request a callback
                    <% end %>
                  </div>
                </div>
            </div>

            <% if @rich_snippet.present? %>
              <div class="service-rich-snippets">
                <%= render(
                        "rich_snippets/rich_snippet",
                        rich_snippet: @rich_snippet
                      ) %>
              </div>
            <% end %>
          </aside>
        </div>
      </div>
    </section>
    <%= render partial: 'services/onpage_navigations/service_large/team_member',
               locals: {
                 service: @service
              } %>
  </main>
</div>


