<%= render 'testimonials/shared/javascript' %>
<%= render 'services/shared/show_header' %>

<div class="page-content-wrap">
  <aside class="page-aside-navigation">
    <div class="page-aside-navigation-content">
      <%= render 'services/shared/service_page_aside_navigation' %>
    </div>
  </aside>

  <div class="page-content">
    <%= render(
      partial: "services/basic_details",
      locals: { service: @service }
    ) %>
  </div>

  <%= render 'services/shared/sidebar' %>
</div>

<div class="service-onpage-navigation" id="testimonials">
  <div class="page-additional-content">
    <div class="testimonials-list-wrap">
      <%= render partial: 'testimonials/shared/single_content_box', collection: @service.testimonials.displayed, cached: true, as: :testimonial %>
    </div>
    
    <div class="related-footer-navigation">
      <%= link_to 'Back to service',
              audience_service_path(@audience, @service),
              class: 'related-footer-see-all' %>
    </div>
  </div>
</div>
