<%= form_for(@service_page) do |f| %>
  <% if @service_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_page.errors.count, "error") %> prohibited this service page from being saved:</h2>
      <ul>
        <% @service_page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>
    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :summary %><br>
        <%= f.text_area :summary, class: 'tinymce' %>
      </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'tinymce' %>
      </div>
      <div class="field">
        <%= f.label :show_contact_form %><br>
        <%= f.check_box :show_contact_form %>
      </div>
    <% end %>
    <%= field_set_tag nil, id: 'tabs-2' do %>
      <%= f.image_field :image %>
      <%= render 'optimadmin/shared/form_fields/social_share_fields', f: f if Flipflop.social_share_fields? || Flipflop.service_page_social_share_fields? %>
    <% end %>
    <%= field_set_tag nil, id: 'tabs-3' do %>
      <div class="field<%= ' hide' if ::Services::Page::LAYOUTS.size < 2 %>">
        <%= f.label :layout %><br />
        <%= f.select :layout, ::Services::Page::LAYOUTS.map{ |x| [t(x), x] } %>
      </div>
      <div class="field<%= ' hide' if ::Services::Page::STYLES.size < 2 %>">
        <%= f.label :style %><br />
        <%= f.select :style, ::Services::Page::STYLES.map{ |x| [t(x), x] } %>
      </div>
      <%= render 'optimadmin/shared/suggested_url_field', f: f %>
      <%= render 'optimadmin/shared/display_status_field', f: f %>
    <% end %>
  </div>
  <%= f.hidden_field :service_id, value: @service.id %>
  <div class="actions">
    <%= f.submit 'Save' %>
    <%= f.submit 'Save and continue editing' %>
  </div>
<% end %>
