<h1>Conveyancing Quote - <%= @user.quote_location.location %></h1>
<h2>Your Details</h2>
<div class="name">
  <%= @user.forename %>
  <%= @user.surname %>
</div>
<div class="phone">
  <%= @user.phone %>
</div>
<div class="email">
  <%= @user.email %>
</div>
<%= l @user.created_at, format: :long %>
<%= render 'conveyancing_quote_mailer/new_quote/purchase', purchase: @user.purchase if @user.purchase.present? %>
<%= render 'conveyancing_quote_mailer/new_quote/sale', sale: @user.sale if @user.sale.present? %>
<%= render 'conveyancing_quote_mailer/new_quote/address', address: @user.addresses.correspondence if @user.addresses.correspondence.present? %>
<%= render 'conveyancing_quote_mailer/new_quote/address', address: @user.addresses.property if @user.addresses.property.present? %>
<% if @user.deeds.present? %>
  <h3>Deeds</h3>
  <%= render partial: 'conveyancing_quote_mailer/new_quote/deed', collection: @user.deeds, as: :deed %>
<% end %>
