<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/offices/map' %>
  <script>
  function equalHeightOffices() {
    $('.office').matchHeight({
      byRow: false
    });
  }

  $(document).ready(function() {
    equalHeightOffices();
  });

  $(document).on('click', '.toggle-class', function() {
    equalHeightOffices();
  });
  </script>
<% end %>

<div class="offices-index-map" id="map-canvas" data-locations="<%= @offices.to_json %>">
  <%= image_tag 'components/icons/loading.gif', alt: '' %>
</div>

<div class="module-inner-content">
  <div class="offices-index">
    <div class="offices-index-content">
      <h1>Offices <%= "in #{@office_location.name}" if @office_location.present? %></h1>
    </div>
  </div>

  <div class="offices-index">
    <div class="page-content full">
      <%= render partial: 'offices/office', collection: @offices, as: :office %>
    </div>

    <aside class="page-additional-information">
      <div class="page-call-to-actions-title-wrap">
        <h3 class="page-call-to-actions-title">Talk to us</h3>
      </div>
      <%= render 'pages/shared/call_to_actions', hide_office: true %>
    </aside>
  </div>
</div>
