<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/offices/map' %>
  <script>
  function equalHeightOffices() {
    $('.office').matchHeight({
      byRow: false
    });
  }

  $(document).ready(function() {
    equalHeightOffices();
  });

  $(document).on('click', '.toggle-class', function() {
    equalHeightOffices();
  });
  </script>
<% end %>



<div class="large-content">
  <aside class="large-content__aside">
    <div class="large-content-aside-sticky">
      <%= render 'services/shared/service_large/aside' %>
    </div>
  </aside>

  <main class="large-content__main">
    <div class="offices-index-map" id="map-canvas" data-locations="<%= @offices.to_json %>">
      <%= image_tag 'components/icons/loading.gif', alt: 'Loading...' %>
    </div>

    <section class="large-content-element">
      <div class="large-content-element__section">
        <div class="large-content-inner">
          <div class="large-content-inner__main">
            <%= render partial: 'offices/office', collection: @offices, as: :office %>
          </div>

          <aside class="large-content-inner__aside">
            aside
          </aside>
        </div>
      </div>
    </section>
  </main>
</div>
