<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/offices/map' %>
  <script>
  function equalHeightOffices() {
    $('.office').matchHeight({
      byRow: false
    });
  }

  $(document).ready(function() {
    equalHeightOffices();
  });

  $(document).on('click', '.toggle-class', function() {
    equalHeightOffices();
  });
  </script>
<% end %>



<div class="large-content">
  <aside class="large-content__aside">
    <div class="large-content-aside-sticky">
      <div class="large-content-aside-title">
        <h2 class="large-content-aside-title__text">
          Our Offices
        </h2>
      </div>

      <ul class="large-content-aside-navigation large-content-aside-navigation--without-icon" id="large-content-aside-navigation">
        <%= render partial: 'offices/shared/aside_navigation',
                   collection: @offices,
                   as: :office %>
      </ul>
    </div>
  </aside>

  <main class="large-content__main large-content__main--no-padding">
    <div class="offices-index-map" id="map-canvas" data-locations="<%= @offices.to_json %>">
      <%= image_tag 'components/icons/loading.gif', alt: 'Loading...' %>
    </div>

    <section class="large-content-element">
      <div class="large-content-element__container">
        <div class="large-content-inner">
          <div class="large-content-inner__main large-content-inner__main--full">
            <div class="large-content-offices-index">
              <%= render partial: 'offices/office', collection: @offices, as: :office %>
            </div>
          </div>

          <aside class="large-content-inner__aside">

          </aside>
        </div>
      </div>
    </section>
  </main>
</div>
