<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/offices/map' %>
  <script>
    function equalHeightOffices() {
      $('.office').matchHeight({
        byRow: false
      });
    }

    $(document).ready(function() {
      equalHeightOffices();
    });

    $(document).on('click', '.toggle-class', function() {
      equalHeightOffices();
    });
  </script>
<% end %>
<div class="large-content">
  <aside class="large-content__aside">
    <div class="large-content-aside-sticky">
      <div class="large-content-aside-title">
        <h2 class="large-content-aside-title__text">
          Our Offices
        </h2>
      </div>
      <ul class="large-content-aside-navigation large-content-aside-navigation--without-icon" id="large-content-aside-navigation">
        <%= render partial: 'offices/shared/aside_navigation',
                   collection: @offices,
                   as: :office,
                   cached: true %>
      </ul>
    </div>
  </aside>
  <main class="large-content__main large-content__main--no-padding">
    <div class="offices-index-map" id="map-canvas" data-locations="<%= @offices.to_json %>">
      <%= image_tag 'components/icons/loading.gif', alt: 'Loading...' %>
    </div>
    <% cache @office.services.map(&:updated_at).max do %>
      <section class="large-content-element">
        <div class="large-content-element__container">
          <div class="large-content-inner">
            <section class="office-location-content">
              <div class="content-section content-section--shadow">
                <div class="content-section__full">
                  <h1 class="standard-content-box-title standard-content-box-title--no-border">
                    <%= @office.office_location_name %>
                  </h1>
                  <%= raw @office.details %>
                </div>
              </div>
            </section>
            <aside class="office-location-aside">
              <div class="content-section content-section--shadow">
                <div class="content-section__full">
                  <%= render 'offices/shared/aside',
                            office: @office,
                            office_counter: 0,
                            aside: true %>
                </div>
              </div>
                <% @office.services.roots.group_by(&:audience).each do |audience, services| %>
                  <div class="content-section content-section--shadow">
                    <div class="content-section__full">
                      <h2 class="page-aside-navigation-title">
                        <%= link_to audience.title, audience %>
                      </h2>
                      <div class="page-aside-navigation-links">
                        <ul class="page-aside-navigation-links-list">
                          <%= render partial: 'offices/shared/service',
                                        collection: services,
                                        as: :service,
                                        cached: true %>
                        </ul>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>
    <% end %>
</main>
</div>
