<% if defined?(wealth_management) %>
  <div class="wealth-management-disclaimer-wrap">
    <div class="wealth-management-content">
      Banner Jones Wealth Management is:
      <ul>
        <li>the trading name of Banner Jones Wealth Management LLP (registered in England &amp; Wales, number OC380075)</li>
        <li>a separate legal entity to Banner Jones ltd</li>
        <li>is not a law firm authorised or regulated by the Solicitors Regulation Authority</li>
        <li>an Appointed Representative of Future Life Wealth Management Ltd which is authorised and regulated by the Financial Conduct Authority.</li>
    </div>
  </div>
<% end %>

<div class="social-footer">
  <div class="social-types">
    <div class="social-networks">
      <h5 class="social-title">Social</h5>

      <%= social_icon 'Twitter' %>
      <%= social_icon 'YouTube' %>
      <%= social_icon 'LinkedIn' %>
      <%= social_icon 'Google Plus' %>
      <%= social_icon 'Facebook' %>
    </div>

    <div class="social-contact-methods">
      <div class="contact-method">
        <span class="contact-method-accent">
          e:
        </span>
        <%= mail_to email, email, class: "ga-event", data: { event_category: 'Footer', event_action: 'Click', event_label: 'Email address' }  %>
      </div>

      <div class="contact-method">
        <span class="contact-method-accent">
          t:
        </span>
        <% if yield(:custom_telephone).present? %>
          <% phone = yield(:custom_telephone) %>
        <% elsif !defined?(phone) %>
          <% phone = global_site_settings['Phone'] %>
        <% end %>

        <% if phone.present? %>
          <%= link_to "tel:#{phone.tr(' ', '')}", class: 'ga-event',
                    data: {
                      event_category: 'Offline contact',
                      event_action: 'Phone call'
                    } do %>
            <span class="<%= 'calltracks_bannerjonescouk-main' unless yield(:custom_telephone).present? %>">
              <%= phone %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer class="primary-footer">
  <div class="awards-and-accreditations">
    <div class="awards-and-accreditations-slick">
      <%= render partial: 'awards/footer_awards', collection: @awards, cached: true, as: :award if @awards.present? %>
    </div>
  </div>

  <div class="primary-footer-navigation">
    <ul class="primary-footer-navigation-links">
      <li>Copyright &copy; <%= Date.today.year %></li>
      <%= nested_menu_items(menu_items: @footer_menu.menu_items) %>
    </ul>
  </div>
</footer>

<div class="legal-footer">
  <p>
    All information on this website is property of Banner Jones Solicitors © <%= Date.today.year %>. All rights reserved. Banner Jones is the trading name of Banner Jones Ltd.
  </p>
  <p>
    Registered in England No. 6604123. Registered Office: 24 Glumangate, Chesterfield S40 1UA. Banner Jones Ltd is registered for VAT purposes with VAT registration number 345980525.
  </p>
  <p>
    We are authorised and regulated by the Solicitors Regulation Authority (SRA number 493083) under the Solicitors' Code of Conduct. You can access the Code by contacting the SRA, In writing to: The Cube, 199 Wharfside Street, Birmingham, B1 1RN. Fax: 0121 616199. Tel: 0870 6062555 (UK) +44 0121 3296800 (International) or via www.sra.org.uk.
  </p>
  <p>
    The directors of Banner Jones Ltd are Solicitors of England and Wales.
  </p>
</div>

<% unless @hide_sticky_cta.present? %>
  <div class="sticky-call-to-actions three">
    <%= link_to '#footer-callback-request', class: 'request-callback toggle-class',
      data: { container: '.remote-callback-request-form-modal', class: 'visible', return: 'false' } do %>
      <%= image_tag 'components/icons/sticky-callback.png', alt: 'Callback request' %>
      Request a Callback
    <% end %>

    <%= link_to '#landing-page-contact-form', class: 'send-an-enquiry toggle-class ga-event',
      data: {
        container: '.remote-contact-form-modal', class: 'visible', return: 'false',
        event_category: 'Footer', event_action: 'Click', event_label: 'Submit Enquiry CTA Button'
      } do %>
      <%= image_tag 'components/icons/sticky-email.png', alt: 'Send an enquiry' %>
      Make an Enquiry
    <% end %>

    <%= link_to team_members_path, class: 'find-a-lawyer' do %>
      <%= image_tag 'components/icons/sticky-search.png', alt: 'Find a lawyer search' %>
      Find a Lawyer
    <% end %>
  </div>
<% end %>

<div class="inline-modal remote-callback-request-form-modal" id="footer-callback-request">
  <div class="inline-modal-content">
    <div class="remote-callback-request-form">
      <%= render 'callback_requests/remote_form' %>
    </div>
  </div>
</div>

<%= render 'shared/bilton_hammond_popup' %>

<div class="inline-modal remote-contact-form-modal" id="footer-contact-form-modal">
  <div class="inline-modal-content">
    <div class="remote-contact-form">
      <%= render 'contacts/remote_form' %>
    </div>
  </div>
</div>
