<%= content_for :javascript do %>
  <script>
    const cookieName = 'bannerjones-cookies-allowed';
    $(document).ready(function() {
      if(Cookies.get(cookieName) == undefined) {
        $('.cookie-warning').show();
      }
    });
    $(document).on('click', '.cookie-warning__button', function() {
      Cookies.set(cookieName, '1', { expires: 365, secure: true });
      $('.cookie-warning').hide();
    });
  </script>
<% end %>

<div class="sticky-sidebar hide">

</div>

<div class="cookie-warning">
  <div class="cookie-warning__content">
    <p>
      Your continued usage of this website means you consent to it storing,
      setting and using cookies and other tracking codes.
      For more information, please read the
      <%= link_to 'privacy policy', '/pages/privacy-policy' %> and
      <%= link_to 'cookie policy', '/pages/cookie-policy' %>.
    </p>

    <p>
      <%= link_to 'I understand, please close this message',
                  '#header',
                  class: 'cookie-warning__button' %>
    </p>
  </div>
</div>

<header class="primary-header">
  <div class="header-branding">
    <%= link_to root_url, title: global_site_settings['Name'], class: "header-logo #{'with-notary' if defined?(notary)}" do %>

      <% if defined?(notary) %>
        <div class="header-notary-title">
          Stephen Gordon

          <div class="header-notary-subtitle">
            Notary Public
          </div>
        </div>
        <%= image_tag "layout/header/logo-notary.png", alt: '', class: 'header-notary-logo' %>
      <% else %>
        <%= image_tag "layout/header/#{logo}", alt: global_site_settings['Name'], class: 'header-logo-primary' %>
      <% end %>

    <% end %>

    <%= image_tag 'layout/header/legal-500.png', alt: 'Legal 500',
                                                 class: 'the-legal-500' if defined?(legal_500) %>
  </div>

  <div class="header-hamburger-menu">
    <%= link_to '#primray-navigation', class: 'toggle-class mobile-menu-toggle', title: 'Show navigation',
                data: {
                  container: '.primary-navigation-wrap',
                  class: 'mobile-expanded',
                  return: 'false'
                } do %>
      <%= image_tag 'components/icons/navigation/hamburger.png', alt: 'Navigation' %>
    <% end %>
  </div>

  <div class="header-contact">

    <%= content_for :javascript do %>
      <script src="https://widget.reviews.co.uk/dropdown/dist.js"></script>
      <script>
      dropdownWidget('dropdown-300',{
      store: 'banner-jones-solicitors',
      primaryClr: '#fbaa07',
      neutralClr: '#f4f4f4',
      textClr: '#000',
      height: 400,
      numReviews: 10,
      direction: 'down'
      });
      </script>
    <% end %>

    <div class="header-telephone">
      <span class="header-telephone-accent">
        t:
      </span>
      <% if yield(:custom_telephone).present? %>
        <% phone = yield(:custom_telephone) %>
      <% elsif !defined?(phone) %>
        <% phone = global_site_settings['Phone'] %>
      <% end %>

      <% if phone.present? %>
        <%= link_to "tel:#{phone.tr(' ', '')}" do %>
          <span class="<%= 'calltracks_bannerjonescouk-main' unless yield(:custom_telephone).present? %>">
            <%= phone %>
          </span>
        <% end %>
      <% end %>
      <div>
        <%= link_to 'Send an enquiry', new_contact_path, class: 'ga-event', data: { event_category: 'Header', event_action: 'Click', event_label: 'Submit Enquiry CTA Button' } %>
      </div>
    </div>

    <div class="header-rich-snippets">
      <div id="dropdown-300" style="width:300px;"></div>
    </div>

    <ul class="header-aside-navigation">
      <%= nested_menu_items(menu_items: @header_aside_menu.menu_items) %>
    </ul>
  </div>
</header>

<div class="primary-navigation-wrap">
  <nav class="header-navigation" id="primary-navigation">
    <div class="primary-navigation">
      <ul class="primary-navigation-links">
        <li class="menu-item">
          <%= link_to root_url, class: 'primary-navigation-home', title: 'Home' do %>
            <%= image_tag 'components/icons/navigation/home.png', alt: 'Home' %>
          <% end %>
        </li>
        <%= Rails.application.config.cache_store if Rails.env.development? %>
        <%= nested_menu_items(menu_items: @primary_header_menu.menu_items) %>
      </ul>
      <%= link_to (image_tag 'components/icons/header/email.png', alt: 'Email'), new_contact_path, class: 'toggle-class sticky-sidebar-toggle',
                  title: 'Contact us',
                  data: { container: '.sticky-sidebar', class: 'hide' } if defined?(solicitors) %>
    </div>

    <div class="primary-navigation-search" role="search">
      <%= form_tag new_search_path, method: :get, class: 'header-search-form' do %>
        <%= text_field_tag :q, params[:q],
                               placeholder: 'Search',
                               class: 'header-search-form__input' %>
       <% end %>
    </div>
  </nav>
</div>
