<title><%= "#{@title} - " if @title %><%= global_site_settings['Name'] %> <%= content_for?(:custom_title) ? yield(:custom_title) : 'Solicitors in Sheffield, Chesterfield & Mansfield' %></title>

<%= tag :meta, name: 'description', content: (@meta_description.present? ? @meta_description : 'Expert Solicitors in Chesterfield and Sheffield. Contact Us Today on 0330 017 6392 or Email Us At info@bannerjones.co.uk' )  %>
<%= tag :meta, name: 'keywords', content: @meta_tags if @meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="oiXJxEC_Lz19eMSAydiyMu6Doe8XhAMJu9BWNJB9AMg" />

<%= stylesheet_link_tag 'application', media: 'all' %>

<%= csrf_meta_tags %>

<script>
  (function(d) {
    var config = {
      kitId: 'lis5abc',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<!-- Foundation IE8 support: http://foundation.zurb.com/forum/posts/241-foundation-5-and-ie8 -->
<!--[if lt IE 9]>
  <%= javascript_include_tag 'vendor/foundation-ie8' %>
<![endif]-->

<% unless Rails.env.development? %>
  <script type="text/plain" data-cookie-type="statistics">
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NKZWMV');</script>
<% end %>

<%= yield :head %>
