<div class="standard-content-box onpage-navigation-item">

  <%= link_to "See All",
            articles_path(service_id: @service.id), class: "see-all" if onpage_navigation.results_limit && @service.articles.displayed.size > onpage_navigation.results_limit %>

  <h2 class="standard-content-box-title">
    <%= onpage_navigation.title %>
  </h2>

  <%
  articles = onpage_navigation.articles.displayed
  articles = @service.articles.displayed if articles.blank?
  %>
  <% articles.limit(onpage_navigation.results_limit).each_with_index do |article, index| %>
    <% cache ['sidebar', article, article.team_members.map(&:updated_at).max].compact do %>
      <% present article do |article_presenter| %>
        <div class="service-article <%= index >= 1 ? 'closed' : 'opened' %>">
          <%= content_tag :div, article_presenter.index_image(alt: article_presenter.title), class: 'service-article-image' if article_presenter.index_image.present? %>

          <div class="service-article-content">
            <div class="service-article-date">
              <%= article_presenter.date(:short) %>
            </div>

            <%= article_presenter.linked_text(article.title, {title: article_presenter.title, class: "#{article.team_members.present? ? 'service-article-title' : 'service-article-full-title' }"}) %>

            <div class="service-article-summary">
              <%= article_presenter.summary %>
            </div>

            <div class="service-article-footer">
              <%= article_presenter.linked_text('Read more >', {title: "Read: #{article_presenter.title}", class: 'service-article-read-more'}) %>

              <div class="service-article-team-members">
                <div class="multiple-team-members-slick">
                  <% article.team_members.each do |team_member| %>
                    <div>
                      <% present team_member do |team_member_presenter| %>
                        <div class="service-article-team-member-details">
                          <div class="service-article-team-member-name">
                            <%= team_member_presenter.full_name %>
                          </div>

                          <div class="service-article-team-member-services">
                            <%= team_member_presenter.service_titles %>
                          </div>
                        </div>

                        <div class="team-member-avatar">
                          <%= team_member_presenter.small_image(alt: team_member_presenter.full_name) %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
