<%
videos = onpage_navigation.videos.displayed
videos = @service.videos.displayed if videos.blank?
%>

<% videos.limit(onpage_navigation.results_limit).each do |video| %>
  <% cache ['sidebar', video] do %>
    <div class="service-video">
      <div class="onpage-navigation-item standard-content-box standalone">
        <% present video do |video_presenter| %>
          <%= link_to (image_tag 'components/icons/play-video.png', alt: 'Play video', class: 'service-video-play-icon'),
                "#service-video-#{video_presenter.id}",
                class: 'inline-colorbox',
                title: video_presenter.title if video_presenter.full_image.present? %>

          <%= link_to video_presenter.full_image(alt: video_presenter.title),
                  "#service-video-#{video_presenter.id}",
                  class: 'inline-colorbox',
                  title: video_presenter.title if video_presenter.full_image.present? %>
          <div class="service-video-content">
            <h4 class="service-video-title">
              <%= video_presenter.title %>
            </h4>
            <%= video_presenter.summary %>
          </div>
          <%= content_tag :div, video_presenter.youtube_embed(800, 0, false), class: 'service-video-embed-code', id: "service-video-#{video_presenter.id}" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
