<div>
  <div class="article">
    <% present article do |article_presenter| %>
      <%= article_presenter.linked_text(article_presenter.title, class: 'article-title') %>
      <%= article_presenter.linked_text((article_presenter.index_image(alt: article_presenter.title, class: 'article-image'))) %>
      <% present article.team_member do |team_member_presenter| %>
        <div class="article-author">
          <div class="article-author-photo">
            <%= article_presenter.linked_text(team_member_presenter.small_image(alt: team_member_presenter.full_name)) %>
          </div>
          <div class="article-author-details">
            <%= article_presenter.linked_text(team_member_presenter.full_name, class: 'article-author-title') %>
            <% # TODO: Update to service %>
            <%= article_presenter.linked_text('Family Law', class: 'article-author-department') %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
