<div>
  <% present article do |article_presenter| %>
    <div class="article" <%= "data-service-colour=#{article_presenter.first_service.colour}" if article_presenter.first_service.present? %>>
      <%= article_presenter.linked_text(article_presenter.title, class: 'article-title', style: "#{"border-color:" + article_presenter.first_service.colour if article_presenter.first_service.present?}") %>
      <%= article_presenter.linked_text((article_presenter.index_image(alt: article_presenter.title, class: 'article-image'))) %>
      <% article.team_members.each do |team_member| %>
        <% present team_member do |team_member_presenter| %>
          <div class="article-author">
            <div class="article-author-photo">
              <%= article_presenter.linked_text(team_member_presenter.small_image(alt: team_member_presenter.full_name)) %>
            </div>
            <div class="article-author-details">
              <%= article_presenter.linked_text(team_member_presenter.full_name, class: 'article-author-name') %>
              <%= article_presenter.linked_text(article_presenter.first_service.title, class: 'article-author-department') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
