<%= render 'articles/shared/index_header' %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js' %>
  <script>
    $(window).load(function() {
      $('.module-index').masonry({
        itemSelector: '.index-module'
      });
    });
  </script>
<% end %>


<div class="module-inner-content">
  <div class="module-index">
    <%= render partial: 'articles/article', collection: @articles, as: :article %>
  </div>

  <div class="module-pagination">
    <%= paginate @articles %>
  </div>
</div>
