<%= render 'articles/shared/index_header' %>


<% present @article do |article_presenter| %>
  <%= og_title article_presenter.social_share_title %>
  <%= og_description article_presenter.social_share_description %>
  <%= og_image article_presenter.social_share_image_url %>
  <%= twitter_creator "@#{@article.team_members.first.twitter_link.split('/').last}" if @article.team_members.size == 1 && @article.team_members.first.twitter_link.present? %>
<% end %>

<div class="module-show">
  <div class="module-show-content-overview">
      <ul class="show-breadcrumbs">
        <li>
          <%= link_to 'News', articles_path %>
        </li>

        <li>
          <%= render partial: 'shared/module_breadcrumbs', collection: @article.article_categories.displayed, as: :category, locals: { categories: @article.article_categories.displayed } %>
        </li>
      </ul>

    <% present @article do |article_presenter| %>
      <%= article_presenter.show_image(alt: article_presenter.title) %>
    <% end %>

    <div class="module-show-content-wrap">
      <% if @article.team_members.present? %>
        <div class="module-show-author">
          <% present @article do |article_presenter| %>
            <%= render partial: 'articles/shared/show_team_members', collection: @article.team_members, as: :team_member, locals: { article_presenter: article_presenter } %>
          <% end %>
        </div>
      <% end %>

      <div class="<%= module_show_content_classes(@article.team_members) %>" role="main">
        <% present @article do |article_presenter| %>
          <div class="index-module-details-date">
            <%= article_presenter.date %>
          </div>

          <h1>
            <%= article_presenter.title %>
          </h1>

          <%= article_presenter.content %>

          <%= render 'shared/social_share_buttons', object: @article %>
        <% end %>
      </div>
    </div>
  </div>

  <aside class="related-aside">
    <h5 class="related-aside-title">Related Stories</h5>

    <%= render partial: 'articles/aside_article', collection: @related_articles, as: :article %>
  </aside>
</div>

<% if @article.team_members.present? && @article.team_members.first.articles.size > 1 %>
  <div class="related-footer">
    <div class="related-footer-details">
      <% present @article.team_members.first do |team_member_presenter| %>
        <%= content_tag :div,
                        (team_member_presenter.linked_text(team_member_presenter.related_footer_image(alt: team_member_presenter.full_name))),
                        class: 'team-member-avatar' if team_member_presenter.related_footer_image.present? %>
        Latest from <%= possessive team_member_presenter.forename %> blog
      <% end %>
    </div>

    <div class="module-inner-content">
      <div class="module-index">
        <%= render partial: 'articles/article',
                   collection: @article.team_members.first.articles.displayed.limit(3).order(publish_at: :desc),
                   as: :article %>
      </div>

      <div class="related-footer-navigation">
        <% # TODO: Filter? Team member show? %>
        <%#= link_to 'Show all',
                team_member_path(@article.team_members.first, anchor: 'articles'),
                class: 'related-footer-see-all' %>
        <%= link_to 'Show all',
                articles_path,
                class: 'related-footer-see-all' %>
      </div>
    </div>
  </div>
<% end %>
