<%= form_for conveyancing_quote_sale do |f| %>
  <%= render 'shared/form_errors', object: conveyancing_quote_sale %>

  <div class="fields">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="fields">
    <%= f.label :leasehold_house %>
    <%= f.check_box :leasehold_house %>
  </div>

  <div class="fields">
    <%= f.label :leasehold_apartment %>
    <%= f.check_box :leasehold_apartment %>
  </div>

  <div class="fields">
    <%= f.label :shared_ownership_scheme %>
    <%= f.check_box :shared_ownership_scheme %>
  </div>

  <div class="actions">
    <%= f.submit "Continue" %>
  </div>
<% end %>
