<div class="conveyancing-landing-hero-form__field">
  <div class="conveyancing-landing-page-hero-form__success">
    <%= render partial: 'conveyancing_quotes/shared/svgs/checkmark' %>
  </div>

  <%= f.label :price,
            'Selling Price',
            class: 'conveyancing-landing-hero-form__label' %>
  <%= f.text_field :price,
                    placeholder: 'e.g. £200,000',
                    class: 'conveyancing-landing-hero-form__input' %>


  <div class="conveyancing-landing-hero-form__options">
    <div class="conveyancing-landing-hero-form__options-field">
      <div class="conveyancing-custom-checkbox">
        <%= f.check_box :leasehold_house %>
        <%= f.label :leasehold_house,
                    '<span></span> Leasehold house'.html_safe,
                    class: 'conveyancing-landing-hero-form__options-label' %>
      </div>
    </div>

    <div class="conveyancing-landing-hero-form__options-field">
      <%= f.check_box :leasehold_apartment %>
      <%= f.label :leasehold_apartment,
                  'Leasehold apartment',
                  class: 'conveyancing-landing-hero-form__options-label' %>
    </div>
  </div>
</div>

<!--
<p>Please tick any other requirements.</p>

<div class="conveyancing-additional-requirements">
  <div class="field">
    <%= f.check_box :leasehold_house %>
    <%= f.label :leasehold_house, 'Leasehold House', class: 'inline-label' %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#leasehold-house',
                class: 'toggle-class-closest',
                data: {
                  class: 'hide',
                  container: '.leasehold-house',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/leasehold_house' %>
  </div>

  <div class="field">
    <%= f.check_box :leasehold_apartment %>
    <%= f.label :leasehold_apartment, 'Leasehold Apartment', class: 'inline-label' %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#leasehold-apartment',
                class: 'toggle-class-closest',
                data: {
                  class: 'hide',
                  container: '.leasehold-apartment',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/leasehold_apartment' %>
  </div>

  <div class="field">
    <%= f.check_box :shared_ownership_scheme %>
    <%= f.label :shared_ownership_scheme, 'Shared Ownership Scheme', class: 'inline-label' %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#shared-ownership-scheme',
                class: 'toggle-class-closest',
                data: {
                  class: 'hide',
                  container: '.shared-ownership-scheme',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/shared_ownership_scheme' %>
  </div>
</div>
-->
