<%= form_for conveyancing_quote_sale do |f| %>
  <%= render 'shared/form_errors', object: conveyancing_quote_sale %>

  <p>How much are you selling the property for?</p>

  <div class="field">
    <%= f.label :price, 'Selling Price' %>
    <%= f.number_field :price, placeholder: 'e.g. 200000' %>
  </div>

  <p>Please tick any other requirements.</p>

  <div class="field">
    <%= f.check_box :leasehold_house %>
    <%= f.label :leasehold_house, 'Leasehold House', class: 'inline-label' %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#leasehold-house',
                class: 'toggle-class',
                data: {
                  class: 'hide',
                  container: '.leasehold-house',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/leasehold_house' %>
  </div>

  <div class="field">
    <%= f.check_box :leasehold_apartment %>
    <%= f.label :leasehold_apartment, 'Leasehold Apartment', class: 'inline-label' %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#leasehold-apartment',
                class: 'toggle-class',
                data: {
                  class: 'hide',
                  container: '.leasehold-apartment',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/leasehold_apartment' %>
  </div>

  <div class="field">
    <%= f.check_box :shared_ownership_scheme %>
    <%= f.label :shared_ownership_scheme, 'Shared Ownership Scheme', class: 'inline-label' %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#shared-ownership-scheme',
                class: 'toggle-class',
                data: {
                  class: 'hide',
                  container: '.shared-ownership-scheme',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/shared_ownership_scheme' %>
  </div>

  <div class="actions">
    <%= f.submit "Get Quote", class: 'inverted-submit-button' %>
  </div>
<% end %>
