<div class="conveyancing-quote sale">
  <h1>Your Conveyancing Quote</h1>

  <%= render(
    partial: "conveyancing_quotes/user_details",
    locals: {
      quote: sale
    }
  ) %>

  <div class="sale-price">
    For a sale at <%= number_to_currency sale.price %>
  </div>
  <div class="sale-fee">
    Our fees will be <%= number_to_currency sale.fee %>
  </div>
</div>

<% sale.additional_costs.each do |additional_cost| %>
  <%= additional_cost.to_s.humanize %>
  <%= ConveyancingCalculator.configuration.additional_costs[:london].reduce(Hash.new, :merge)[additional_cost] %>
<% end %>

<%= link_to I18n.t("conveyancing_quotes.download_button"),
  conveyancing_quotes_sale_download_path(sale, format: "pdf"),
  target: "_blank",
  class: "download-button" %>
