<%= render 'services/shared/show_header' %>

<div class="page-content-wrap">
  <aside class="page-aside-navigation">
    <div class="page-aside-navigation-content">
      <%= render 'services/shared/service_page_aside_navigation' %>
    </div>
  </aside>

  <div class="page-content">
    <% present @page do |service_page_presenter| %>
      <% present @service do |service_presenter| %>
        <h1 class="service-page-title" style="<%= service_presenter.colour_property_helper('border-color') %>">
        <%= service_page_presenter.title %>
        <%= service_presenter.small_icon({alt: service_presenter.title, class: 'service-page-icon'}) %>
      </h1>
      <% end %>

      <div class="page-inner-content">
        <%= service_page_presenter.summary %>
        <%= service_page_presenter.content %>
      </div>
    <% end %>
  </div>

  <aside class="page-additional-information">
    <%= render 'services/shared/sidebar_content' %>
    <%= render 'services/shared/onpage_navigations_sidebar' if @onpage_navigations.present? && @page.content.present? %>
  </aside>
</div>

<%= render 'services/shared/onpage_navigations' if @onpage_navigations.present? && @page.content.blank? %>
