<%= form_for @user, url: conveyancing_quotes_location_users_path do |f| %>
  <%= render 'shared/form_errors', object: @user %>

  <div class="related-fields">
    <div class="field">
      <%= f.label :forename %>
      <%= f.text_field :forename %>
    </div>

    <div class="field">
      <%= f.label :surname %>
      <%= f.text_field :surname %>
    </div>
  </div>

  <div class="related-fields">
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="field">
    <%= f.check_box :buying %>
    <%= f.label :buying, 'I am buying', class: 'inline-label' %>
  </div>

  <div class="field">
    <%= f.check_box :selling %>
    <%= f.label :selling, 'I am selling', class: 'inline-label' %>
  </div>

  <div class="field">
    <%= f.check_box :buying_and_selling %>
    <%= f.label :buying_and_selling, 'I am buying and selling', class: 'inline-label' %>
  </div>

  <!--
    <div class="field">
      <%#= f.check_box :conveyancing_email_permission %>
      <%#= f.label :conveyancing_email_permission, 'I would like useful information about conveyancing to be sent to me by email', class: 'inline-label' %>
    </div>
  -->

  <div class="actions">
    <%= f.submit 'Get quote', class: 'inverted-submit-button', data: { event_category: 'Conveyancing Calculator', event_action: 'Get Quote', event_label: 'Get Quote Page One' } %>
  </div>
<% end %>
