<%= form_for @user, url: conveyancing_quotes_location_users_path do |f| %>
  <%= render 'shared/form_errors', object: @user %>

  <div class="field">
    <%= f.label :forename %>
    <%= f.text_field :forename %>
  </div>

  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :buying %>
    <%= f.check_box :buying %>
  </div>

  <div class="field">
    <%= f.label :selling %>
    <%= f.check_box :selling %>
  </div>

  <div class="field">
    <%= f.label :conveyancing_email_permission, 'I would like useful information about conveyancing to be sent to me by email' %>
    <%= f.check_box :conveyancing_email_permission %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
