<%= content_for :content_title do 'Accept Quote' end %>

<%= render 'conveyancing_quotes/shared/acceptance_steps', current_step: 4 %>

<%= render @user.purchase if @user.purchase.present? %>
<%= render @user.sale if @user.sale.present? %>

<% if @user.addresses.correspondence.present? %>
  <div class="conveyancing-address">
    <%= render @user.addresses.correspondence  %>
    <%= link_to 'Edit', edit_conveyancing_quotes_property_addresses_path %>
  </div>
<% end %>

<% if @user.addresses.property.present? %>
  <div class="conveyancing-address">
    <%= render @user.addresses.property %>
    <%= link_to 'Edit', edit_conveyancing_quotes_correspondence_addresses_path %>
  </div>
<% end %>

<% if @user.deeds.present? %>
  <h3>Deeds</h3>
  <%= render @user.deeds %>
  <%= link_to 'Edit', edit_conveyancing_quotes_deeds_path %>
<% end %>

<%= form_for @user, url: conveyancing_quotes_location_users_path do |f| %>
  <%= render 'shared/form_errors', object: @user %>

  <div class="related-fields">
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Accept quote', class: 'inverted-submit-button' %>
  </div>
<% end %>

<p>
  Once you have accepted the quote, our team will be in touch.
</p>
