<%= content_for :content_title do "Thanks #{@user.forename.strip}, here's your conveyancing quote" end %>

<%= render @user.purchase if @user.purchase.present? %>
<%= render @user.sale if @user.sale.present? %>


<div class="conveyancing-quote-overview">
  <h3>Proceed with Quote</h3>
  <p>If you are happy with the quote, please proceed to accept it.</p>
  <%= link_to 'Accept quote', new_conveyancing_quotes_deeds_path, class: 'inverted-submit-button' %>
  <%= link_to 'Print quote', '#', class: 'inverted-submit-button print-page' %>

  <h4>Request More Information</h4>

  <p>
    Call:
    <%= render 'shared/calltracks_phone',
                phone: global_site_settings['Phone'],
                options: { class: 'submit-button' } %>

    <%= link_to 'Request a callback',
                '#',
                class: 'submit-button toggle-class',
                data: {
                  class: 'visible',
                  container: '.remote-callback-request-form-modal',
                  return: false
                  }  %>
    <%= link_to 'Email us',
                '#',
                class: 'submit-button toggle-class',
                data: {
                  class: 'visible',
                  container: '.remote-contact-form-modal',
                  return: false
                  }  %>

  </p>
</div>
