<%= content_for :content_title { 'Your quote' } %>

<h2>Your Details</h2>
<div class="name">
  <%= @user.forename %>
  <%= @user.surname %>
</div>
<div class="phone">
  <%= @user.phone %>
</div>
<div class="email">
  <%= @user.email %>
</div>

<%= render @user.purchase %>
<%= render @user.sale %>

<% if @user.addresses.correspondence.present? %>
  <%= render @user.addresses.correspondence  %>
<% end %>

<% if @user.addresses.property.present? %>
  <%= render @user.addresses.property %>
<% end %>

<% if @user.deeds.present? %>
  <h3>Deeds</h3>
  <%= content_tag :ul, (render @user.deeds) %>
<% end %>

<%= link_to 'Print quote', '#', class: 'submit-button print-page' %>
