<%= content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.resources-slick-<%= onpage_navigation.id %>').slick({
        arrows: true,
        dots: false,
        autoplay: false,
        autoplaySpeed: 6000,
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        nextArrow: '.resources-slick-<%= onpage_navigation.id %>-next',
        prevArrow: '.resources-slick-<%= onpage_navigation.id %>-prev',
        responsive: [
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ],
        responsive: [
          {
            breakpoint: 1440,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          }
        ]
      });
    });
  </script>
<% end %>

<%
resources = onpage_navigation.resources.displayed
resources = @service.resources.displayed if resources.blank?
%>

<% resources = resources + resources %>

<section class="large-onpage-resources">
  <div class="large-onpage-resources__section">
    <div class="onpage-navigation-controls">
      <div class="onpage-navigation-slider">
      <%= link_to 'See all',
                    resources_path,
                    class: 'onpage-navigation-button' %>

        <%= button_tag 'Previous', class: "onpage-navigation-slider__button onpage-navigation-slider__button--prev onpage-navigation-slider__button--inverted resources-slick-#{onpage_navigation.id}-prev" %>
        <%= button_tag 'Next', class: "onpage-navigation-slider__button onpage-navigation-slider__button--next onpage-navigation-slider__button--inverted resources-slick-#{onpage_navigation.id}-next" %>
      </div>

      <h1 class="large-onpage-resources__title">
        <%= 'Our Helpful Guide'.pluralize(resources.size) %>
      </h1>
    </div>

    <div class="large-onpage-resources__resources <%= 'large-onpage-resources__resources--stacked' if resources.size < 3 %>">
      <% if resources.size > 2 %>
        <%= render 'services/resources/shared/services_slick',
                    resources: resources,
                    onpage_navigation: onpage_navigation %>
      <% else %>
        <%= render 'services/resources/shared/single',
                    resource: resources.first,
                    onpage_navigation: onpage_navigation %>
      <% end %>
    </div>
  </div>
</section>

