<section class="large-content-element">
  <div class="large-content-element__section large-content-element__section--onpage-navigation large-content-element__section--centered">
    <div class="conveyancing-service-team-member-footer-profile">
      <%= render partial: 'services/onpage_navigations/conveyancing/shared/team_member',
                              collection: service.team_members.key_team_members,
                              cached: true,
                              as: :team_member %>
    </div>

    <p>
      For more information call our friendly team of solicitors on
      <%= link_to "tel:#{global_site_settings['Phone'].tr(' ', '')}",
                    class: 'conveyancing-call-to-action
                            large-content-element__phone large-content-element__phone--cta
                            ga-event',
                    data: {
                      event_category: 'Conveyancing Calculator',
                      event_action: 'Click',
                      event_label:  'Phone'
                    } do %>
        <span class="calltracks_bannerjonescouk-main">
          <%= global_site_settings['Phone'] %>
        </span>
      <% end %>
    </p>
  </div>
</section>






<section class="conveyancing-footer conveyancing-footer--combined">
  <div class="conveyancing-footer__section">
    <div class="conveyancing-footer__contact">
      <%= link_to '#',
    class: 'conveyancing-footer__cta-button toggle-class ga-event',
    data: {
      class: 'visible',
      container: '.remote-callback-request-form-modal',
      return: false,
      event_category: 'Conveyancing Calculator',
      event_action: 'Click',
      event_label:  'Request a callback'
    } do %>
        <%= image_tag 'components/icons/sticky-callback.png', alt: 'Callback request' %><br />
        Request a callback
      <% end %>
    </div>
    <div class="conveyancing-footer__contact">
      <%= link_to '#',
                class: 'conveyancing-footer__cta-button toggle-class ga-event',
                data: {
                  class: 'visible',
                  container: '.remote-contact-form-modal',
                  return: false,
                  event_category: 'Conveyancing Calculator',
                  event_action: 'Click',
                  event_label:  'Email'
                  } do %>
        <%= image_tag 'components/icons/sticky-email.png', alt: 'Send an enquiry' %><br />
        Email us
      <% end %>
    </div>
  </div>
</section>
