<div class="conveyancing-content">
  <div class="conveyancing-content__section conveyancing-content__section--full">
    <section class="conveyancing-service-team-member-footer">
      <%= link_to 'Get Quote', '#new_conveyancing_quotes_sale_and_purchase', class: 'conveyancing-service-team-member-footer__button' %>

      <div class="conveyancing-service-team-member-footer-profile">
        <%= render partial: 'services/onpage_navigations/conveyancing/shared/team_member',
                   collection: @service.team_members.key_team_members,
                   cached: true,
                   as: :team_member %>
      </div>

      <p>
          If you have any questions then call us for a no-obligation discussion to see how we can help get you moving.
      </p>

      <p class="conveyancing-service-team-member-footer__phone">
          <%= link_to "tel:#{global_site_settings['Phone'].tr(' ', '')}",
                      class: 'conveyancing-call-to-action ga-event',
                      data: {
                        event_category: 'Conveyancing Calculator',
                        event_action: 'Click',
                        event_label:  'Phone'
                      } do %>
            <span class="calltracks_bannerjonescouk-main">
              <%= global_site_settings['Phone'] %>
            </span>
          <% end %>
        </p>
    </section>
  </div>
</div>

<section class="conveyancing-footer conveyancing-footer--combined">
  <div class="conveyancing-footer__section">
    <div class="conveyancing-footer__contact">
      <%= link_to '#',
    class: 'conveyancing-footer__cta-button toggle-class ga-event',
    data: {
      class: 'visible',
      container: '.remote-callback-request-form-modal',
      return: false,
      event_category: 'Conveyancing Calculator',
      event_action: 'Click',
      event_label:  'Request a callback'
    } do %>
        <%= image_tag 'components/icons/sticky-callback.png', alt: 'Callback request' %><br />
        Request a callback
      <% end %>
    </div>
    <div class="conveyancing-footer__contact">
      <%= link_to '#',
                class: 'conveyancing-footer__cta-button toggle-class ga-event',
                data: {
                  class: 'visible',
                  container: '.remote-contact-form-modal',
                  return: false,
                  event_category: 'Conveyancing Calculator',
                  event_action: 'Click',
                  event_label:  'Email'
                  } do %>
        <%= image_tag 'components/icons/sticky-email.png', alt: 'Send an enquiry' %><br />
        Send us an email
      <% end %>
    </div>
  </div>
</section>
