<% unless defined?(hide_call_us) %>

  <% if yield(:custom_telephone).present? %>
    <% telephone = yield(:custom_telephone) %>
  <% else %>
    <% telephone = global_site_settings['Phone'] %>
  <% end %>

  <%= link_to "tel:#{telephone.tr(' ', '')}", class: 'page-call-to-action' do %>
    <div class="page-call-to-action-title">
      <span class="calltracks_bannerjonescouk-main">
        <%= telephone %>
      </span>
    </div>

    <div class="page-call-to-action-icon">
      <%= image_tag 'components/icons/call-to-action/white-telephone.png', alt: '' %>
    </div>
  <% end %>
<% end %>

<% unless defined?(hide_callback) %>
  <%= link_to '#new_callback_request', class: 'page-call-to-action toggle-class',
    data: { container: '.remote-callback-request-form-modal', class: 'visible', return: 'false' } do %>
    <div class="page-call-to-action-title">
      Request a call back
    </div>

    <div class="page-call-to-action-icon">
      <%= image_tag 'components/icons/call-to-action/white-callback.png', alt: '' %>
    </div>
  <% end %>
<% end %>

<% unless defined?(hide_email) %>
<%= link_to '#new_contact', class: 'page-call-to-action toggle-class',
    data: { container: '.remote-contact-form-modal', class: 'visible', return: 'false' } do %>
    <div class="page-call-to-action-title">
      Email us
    </div>

    <div class="page-call-to-action-icon">
      <%= image_tag 'components/icons/call-to-action/white-email.png', alt: '' %>
    </div>
  <% end %>
<% end %>
