<row class="conveyancing-fee-header conveyancing-fee-header--fourth">
  <columns small="12" large="12">
    <%= render 'conveyancing_quote_mailer/new_quote/spacer', size: 10 %>

    <h2 class="conveyancing-fee-header__title">
      Here's what to do next
    </h2>

    <%= render 'conveyancing_quote_mailer/new_quote/spacer', size: 10 %>
  </columns>
</row>

<%= render 'conveyancing_quote_mailer/new_quote/spacer', size: 10 %>

<row>
  <columns small="12" large="12">
    <p>
      If you would like to begin the legal process right away,
      get in touch and we will be happy to explain the next steps to get
      everything in place for your move.
    </p>

    <p>
      Alternatively, if you have any questions please call the quotes team on:
      <strong><%= render 'shared/calltracks_phone',
                    phone: @global_site_settings['Phone'],
                    options: { class: 'conveyancing-proceed__phone' } %></strong>
    </p>

    <%= render 'conveyancing_quote_mailer/new_quote/spacer', size: 10 %>

    <hr />
  </columns>
</row>
