<% total = fees_total = vat_total = 0 %>
<table style="text-align: left;font-size: 14px;">
  <h2 style="Margin: 0; Margin-bottom: 10px; Margin-top: 30px; border-bottom: 5px solid #fcb830; color: #000; font-family: Helvetica, Arial, sans-serif; font-size: 25px; font-weight: 600; line-height: 1.2; margin: 0 0 15px; margin-bottom: 10px; padding: 0 0 10px 10px; text-align: left; word-wrap: normal;">For your standard <%= sale.leasehold? ? 'leasehold' : 'freehold' %> sale</h2>
  <tr>
    <th style="text-align: left;">Selling a property for <strong><%= number_to_currency sale.price %></strong>.</th>
    <th style="text-align: left;">Fee</th>
    <th style="text-align: left;">VAT</th>
    <th style="text-align: left;">Total</th>
  </tr>
  <tr>
    <td style="text-align: left;">
      <strong>Banner Jones Conveyancing Costs</strong>
    </td>
    <td style="text-align: left;">
      <%= number_to_currency sale.fee %>
      <% fees_total = sale.fee %>
    </td>
    <td style="text-align: left;">
      <%= number_to_currency sale.vat %>
      <% vat_total += sale.vat %>
    </td>
    <td style="text-align: left;">
      <%= number_to_currency sale.total %>
      <% total += sale.total %>
    </td>
  </tr>
  <% sale.additional_costs.each do |additional_cost| %>
    <% cost = ConveyancingCalculator.configuration.additional_costs[sale.user.symbolised_location].reduce(Hash.new, :merge)[additional_cost] %>
    <% vat = cost * ConveyancingCalculator.configuration.vat_rate %>
    <tr>
      <td style="text-align: left;">
        <strong><%= additional_cost.to_s.humanize.titlecase %></strong>
      </td>
      <td style="text-align: left;">
        <%= number_to_currency cost %>
        <% fees_total += cost %>
      </td>
      <td style="text-align: left;">
        <%= number_to_currency vat %>
        <% vat_total += vat %>
      </td>
      <td style="text-align: left;">
        <%= number_to_currency cost + vat %>
        <% total += (cost + vat) %>
      </td>
    </tr>
    <%= cost = vat = nil %>
  <% end %>
  <tr>
    <td colspan="3" style="text-align: right;">
      Subtotal<br />
      <strong>Overall Total</strong>
    </td>
    <td style="text-align: left;">
      <%= number_to_currency fees_total %><br />
      <strong><%= number_to_currency total %></strong>
    </td>
  </tr>
</table>
