<% total = fees_total = vat_total = 0 %>
<table style="width:840px; text-align: left;">
  <h2>For your standard <%= sale.leasehold? ? 'leasehold' : 'freehold' %> sale</h2>
  <tr>
    <th>Selling a property for <strong><%= number_to_currency sale.price %></strong>.</th>
    <th>Fee</th>
    <th>VAT</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>
      <strong>Banner Jones Conveyancing Costs</strong>
    </td>
    <td>
      <%= number_to_currency sale.fee %>
      <% fees_total = sale.fee %>
    </td>
    <td>
      <%= number_to_currency sale.vat %>
      <% vat_total += sale.vat %>
    </td>
    <td>
      <%= number_to_currency sale.total %>
      <% total += sale.total %>
    </td>
  </tr>
  <% sale.additional_costs.each do |additional_cost| %>
    <% cost = ConveyancingCalculator.configuration.additional_costs[sale.user.symbolised_location].reduce(Hash.new, :merge)[additional_cost] %>
    <% vat = cost * ConveyancingCalculator.configuration.vat_rate %>
    <tr>
      <td>
        <strong><%= additional_cost.to_s.humanize.titlecase %></strong>
      </td>
      <td>
        <%= number_to_currency cost %>
        <% fees_total += cost %>
      </td>
      <td>
        <%= number_to_currency vat %>
        <% vat_total += vat %>
      </td>
      <td>
        <%= number_to_currency cost + vat %>
        <% total += (cost + vat) %>
      </td>
    </tr>
    <%= cost = vat = nil %>
  <% end %>
  <tr>
    <td colspan="3" style="text-align: right;">
      Subtotal<br />
      <strong>Overall Total</strong>
    </td>
    <td>
      <%= number_to_currency fees_total %><br />
      <strong><%= number_to_currency total %></strong>
    </td>
  </tr>
</table>
