<div class="hero-banner-item banner-<%= banner.id %>">
  <div class="hero-banner-item-wrap">
    <div class="hero-banner-item-content">
      <% present banner do |banner_presenter| %>
        <div class="hero-banner-item-title">
          <%= banner_presenter.title %>
        </div>

        <div class="hero-banner-item-summary">
          <%= banner_presenter.summary %>
        </div>

        <%= banner_presenter.button(class: 'hero-banner-item-button') %>
      <% end %>
    </div>
  </div>


    <div class="hero-banner-image-overlay">

    </div>

    <% present banner do |banner_presenter| %>
      <%= banner_presenter.homepage_image(class: 'hero-banner-image') %>
    <% end %>
</div>
