<% if banner.audiences.present? %>
  <%= content_for :head do %>
    <style>
    /*
    <% present banner do |banner_presenter| %>
      .banner-<%= banner.id %> .hero-banner-item-prefix-title {
        border-color: <%= banner.audiences.first.colour %>
      }

      .banner-<%= banner.id %> .hero-banner-item-button {
        background: <%= banner.audiences.first.colour %>
      }
    <% end %>
    */
    </style>
  <% end %>
<% end %>

<div class="hero-banner-item banner-<%= banner.id %>">
  <div class="hero-banner-item-wrap">
    <div class="hero-banner-item-content">
      <% present banner do |banner_presenter| %>
        <h1 class="hero-banner-item-title">
          <%= banner_presenter.title %>
        </h1>

        <div class="hero-banner-item-summary">
          <%= banner_presenter.summary %>
        </div>

        <%= banner_presenter.button(class: 'hero-banner-item-button') %>
      <% end %>
    </div>
  </div>

  <% present banner do |banner_presenter| %>
    <div class="hero-banner-image-overlay">

    </div>
    <%= banner_presenter.image(class: 'hero-banner-image') %>
  <% end %>
</div>
