<div class="home-team-member-profile">
  <div class="home-team-member-profile-information">
    <% present team_member do |team_member_presenter| %>
      <strong class="home-team-member-profile-name">
        <%= team_member_presenter.full_name %>
      </strong>
      /
      <span class="home-team-member-role">
        <%= team_member_presenter.job_roles %><%= ', ' if team_member_presenter.department_roles? %>
        <%= team_member_presenter.department_roles %>
      </span>
      <ul class="home-team-member-profile-details">
        <li class="home-team-member-office-location">
          <%= team_member_presenter.office_locations %>
        </li>
        <li>
          <%= team_member_presenter.linked_email_address(image_tag 'components/icons/team-member/email.png', alt: 'Email') %>
        </li>
        <li>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="home-team-member-profile-services">
    <strong class="home-team-member-profile-service-name">
      <% present team_member do |team_member_presenter| %>
        <%= team_member_presenter.service_titles %>
      <% end %>
    </strong>
  </div>
</div>
