<%= content_for :javascript do %>
  <script>
    $(document).on('keyup', '.slider-team-member-search-name', function() {
      $(this).closest('form').submit();
      $('.slider-team-members-loading').css('display', 'block');
    });

    $(document).on('change', '.slider-team-member-search-select', function() {
      $(this).closest('form').submit();
      $('.slider-team-members-loading').css('display', 'block');
    });
  </script>
  <%= javascript_include_tag 'components/team-members/index-profile-card.js' %>
<% end %>

<%= render 'team_members/shared/index_header', index: true %>

<div class="module-inner-content">
  <div class="team-members-index-wrap">
    <%= image_tag 'components/icons/loading.gif', alt: 'Loading...', class: 'slider-team-members-loading' %>

    <div class="team-members-index-content">
      <%= render partial: 'team_members/shared/index_profile_card', collection: @team_members, as: :team_member %>
    </div>
  </div>
</div>
