<%= content_for :javascript do %>
  <script>
    $(document).ready(function() {
      if (Modernizr.mq('only screen and (min-width: 1024px)')) {
        $('.team-members-content-wrap, .team-member-show-text-profile').matchHeight();
      }
    });
  </script>
  <%= javascript_include_tag 'components/testimonials/slider.js' %>
  <%= javascript_include_tag 'components/team-members/index-profile-card.js' %>
<% end %>

<%= render 'team_members/shared/index_header' %>

<div class="module-inner-content">
  <%= render 'team_members/shared/show_summary' %>

  <div class="team-members-content-wrap">
    <div class="page-content">
      <div class="standard-content-box">
        <% present @team_member do |team_member_presenter| %>
          <%= team_member_presenter.specialisms %>
          <%= render partial: 'accreditations/shared/team_member_accreditations', collection: @team_member.accreditations, as: :accreditation, cached: true %>
        <% end %>
      </div>
    </div>

    <% if @team_member.testimonials.present? %>
      <div class="page-content">
        <div class="onpage-navigation-item home-content-box inner testimonials">
          <%= link_to "See All", testimonials_team_member_path(@team_member), class: "see-all" if @team_member.testimonials.displayed.size > 6 %>

          <h2 class="home-content-box-title testimonials-title">
            Testimonials
          </h2>

          <div class="testimonials-slick">
            <%= render(
              partial: "testimonials/testimonial",
              collection: @team_member.testimonials.displayed.limit(6),
              cached: true,
              as: :testimonial
              )
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'team_members/shared/show_footer' if @team_members.present? %>
</div>
