<%= render 'testimonials/shared/javascript' %>
<%= render 'team_members/shared/index_header' %>

<div class="module-inner-content">
  <%= render 'team_members/shared/show_summary' %>

  <div class="team-members-content-wrap">
    <div class="testimonials-list-wrap">
      <%= render partial: 'testimonials/shared/single_content_box', collection: @team_member.testimonials.displayed.limit(20), as: :testimonial %>
    </div>
  </div>

  <%= render 'team_members/shared/show_footer' %>
</div>
