<%= render 'optimadmin/shared/header/main_title', title: 'Manage Article Categories' %>

<%= content_for :footer do %>
  <script>
  $(document).ready(function() {
    $('.ui-state-active').toggleClass('ui-state-active ui-tabs-active');
    $('.active').parent().addClass('ui-state-active');
  });
  $(document).on('click', '.tabs-list a', function(e) {
    window.location = $(this).data('href');
  });
  </script>
<% end %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Article Category', object: ArticleCategory, path: new_article_category_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/order', options: [['Title ASC', 'title ASC'], ['title DESC', 'title DESC']] %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @article_categories.size, path: root_url %>
  </div>

  <div class="tabs">
    <ul class="tabs-list">
      <li>
        <%= link_to '#tabs-1',
                    data: { href: polymorphic_url(:article_categories, per_page: params[:per_page], order: params[:order], search: params[:search]) },
                    class: (current_page?(polymorphic_url(:article_categories, per_page: params[:per_page], order: params[:order], search: params[:search])) ? 'active' : '') do %>
          All (<%= @article_category_items.size %>)
        <% end %>
      </li>

      <li>
        <%= link_to '#tabs-2',
                    data: { href: polymorphic_url([:published, :article_categories], per_page: params[:per_page], order: params[:order], search: params[:search]) },
                    class: (current_page?(polymorphic_url([:published, :article_categories], per_page: params[:per_page], order: params[:order], search: params[:search])) ? 'active' : '') do %>
          Published (<%= @published_items.size %>)
        <% end %>
      </li>

      <li>
        <%= link_to '#tabs-3',
                    data: { href: polymorphic_url([:scheduled, :article_categories], per_page: params[:per_page], order: params[:order], search: params[:search]) },
                    class: (current_page?(polymorphic_url([:scheduled, :article_categories], per_page: params[:per_page], order: params[:order], search: params[:search])) ? 'active' : '') do %>
          Scheduled (<%= @scheduled_items.size %>)
        <% end %>
      </li>

      <li>
        <%= link_to '#tabs-4',
                    data: { href: polymorphic_url([:expired, :article_categories], per_page: params[:per_page], order: params[:order], search: params[:search]) },
                    class: (current_page?(polymorphic_url([:expired, :article_categories], per_page: params[:per_page], order: params[:order], search: params[:search])) ? 'active' : '') do %>
          Expired (<%= @expired_items.size %>)
        <% end %>
      </li>
    </ul>

    <div id="tabs-1">
      <div class="row collapse module-list-index header">
        <%= list_item 'large-9 small-8' do %>
          Title
        <% end %>
        <%= list_item { 'View' } %>
        <%= list_item { 'Edit' } %>
        <%= list_item('large-1 hide-for-medium-down text-center last'){ 'Delete' } %>
      </div>

      <%= render partial: 'article_category', collection: @article_categories, as: :article_category_presenter %>

      <%= paginate @article_categories %>

      <%= pagination_helper(@pagination_helper, 'article category') %>
    </div>
  </div>
</div>
