<%= render 'optimadmin/shared/header/main_title', title: 'Manage Article Categories' %>

<%= content_for :footer do %>
  <script>
  $(document).on('click', '.module-index-display-status', function() {
    $($(this).attr('href')).load($(this).data('status'));
  });

  $(document).on('click', '.ui-tabs-panel:visible:not(#tabs-1) .pagination a', function() {
    $('#' + $('.ui-tabs-panel:visible').attr('id')).load($(this).attr('href'));
    return false;
  });
  </script>
<% end %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Article Category', object: ArticleCategory, path: new_article_category_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @article_categories.size, path: root_url %>
  </div>

  <div class="tabs prevent-flash">
    <ul class="tab-list module-index">
      <li>
        <a href="#tabs-1">
          All (<%= @article_category_items.size %>)
        </a>
      </li>

      <li>
        <a href="#tabs-2"
          class="module-index-display-status"
          data-status="<%= polymorphic_url([:published, :article_categories], per_page: params[:per_page], order: params[:order], search: params[:search]) %>">
          Published (<%= @published_items.size %>)
        </a>
      </li>

      <li>
        <a href="#tabs-3"
          class="module-index-display-status"
          data-status="<%= polymorphic_url([:scheduled, :article_categories], per_page: params[:per_page], order: params[:order], search: params[:search]) %>">
          Scheduled (<%= @scheduled_items.size %>)
        </a>
      </li>

      <li>
        <a href="#tabs-4"
          class="module-index-display-status"
          data-status="<%= polymorphic_url([:expired, :article_categories], per_page: params[:per_page], order: params[:order], search: params[:search]) %>">
          Expired (<%= @expired_items.size %>)
        </a>
      </li>
    </ul>

    <div id="tabs-1">
      <%= render 'optimadmin/article_categories/table' %>
    </div>

    <div id="tabs-2">
      <%= image_tag 'optimadmin/vendor/slick/ajax-loader.gif', alt: 'Loading...' %>
    </div>

    <div id="tabs-3">
      <%= image_tag 'optimadmin/vendor/slick/ajax-loader.gif', alt: 'Loading...' %>
    </div>

    <div id="tabs-4">
      <%= image_tag 'optimadmin/vendor/slick/ajax-loader.gif', alt: 'Loading...' %>
    </div>
  </div>
</div>
