<% cache [service, service.team_members.key_team_members.first, service.descendants.map(&:updated_at).max] do %>
  <% present service do |service_presenter| %>
  <div class="meganav-dropdown-content-inner meganav-dropdown-content-<%= service_presenter.id %> hide">
    <div class="meganav-dropdown-secondary-list">
        <div class="meganav-secondary-title-area">
          <h3 class="meganav-secondary-title">
            Services
          </h3>
          <%= service_presenter.linked_text('View full department page', { title: service_presenter.title, class: 'meganav-button' }) %>
        </div>

        <ul class="meganav-links meganav-secondary-links">
          <%= render(
            partial: "services/navigation_link",
            collection: service.children.displayed,
            as: :service,
            locals: { audience: audience }
          ) %>
        </ul>
    </div>
  <% end %>

  <% present service.team_members.key_team_members.first do |team_member_presenter| %>
    <div class="meganav-dropdown-team-member-wrap">
      <%= team_member_presenter.navigation_image(alt: team_member_presenter.full_name, class: 'meganav-dropdown-team-member') %>
      <div class="meganav-dropdown-team-member-name">
        <%= team_member_presenter.full_name %>
      </div>
      <div class="meganav-dropdown-team-member-role">
        <%= team_member_presenter.job_roles %>
      </div>
      <div class="meganav-dropdown-team-member-location">
        <%= team_member_presenter.office_locations %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
