<div class="contact-details">
  <div class="related-fields">
    <div class="field">
      <%= f.text_field :forename, placeholder: 'Forename' %>
    </div>
    <div class="field">
      <%= f.text_field :surname, placeholder: 'Surname' %>
    </div>
  </div>
  <div class="related-fields">
    <div class="field">
      <%= f.text_field :telephone, placeholder: 'Telephone' %>
    </div>
    <div class="field">
      <%= f.text_field :email, placeholder: 'Email' %>
    </div>
  </div>
  <div class="related-fields">
    <div class="field">
      <%= f.select :preferred_contact_method, Contact::CONTACT_METHODS, prompt: 'Preferred contact method' %>
    </div>
    <!--
      <% if @offices.present? %>
        <div class="field">
          <%= f.select :preferred_office, options_for_select(@offices.map{|x| x.address_fields }, selected: (@office.address_fields if @office.present?)), prompt: 'Preffered office' %>
        </div>
      <% end %>
    -->
    <div class="field">
      <%= f.select :how_heard, options_for_select(Contact::HOW_HEARDS), include_blank: 'How did you find us?' %>
    </div>
  </div>
  <% if Flip.services? %>
    <div class="field">
      <%= f.select :service, grouped_options_for_select(Audience.displayed.map{ |x| [x.title, x.services.displayed.root_services.map { |c| ['- ' * c.depth + c.title , c.title] }] }), prompt: 'Service' %>
    </div>
  <% end %>

  <div class="field full">
    <%= f.text_area :message, placeholder: 'Message' %>
  </div>

  <%= f.hidden_field :from_url, value: request.original_url %>

  <div class="actions">
    <%= f.submit "Send", class: "submit-button" %>
  </div>
</div>
