<div class="contact-details">
  <div class="related-fields">
    <div class="field">
      <%= f.text_field :forename, placeholder: 'Forename' %>
    </div>
    <div class="field">
      <%= f.text_field :surname, placeholder: 'Surname' %>
    </div>
  </div>
  <div class="related-fields">
    <div class="field">
      <%= f.text_field :telephone, placeholder: 'Telephone' %>
    </div>
    <div class="field">
      <%= f.text_field :email, placeholder: 'Email' %>
    </div>
  </div>
  <div class="related-fields">
    <div class="field">
      <%= f.select :preferred_contact_method, Contact::CONTACT_METHODS, prompt: 'Preferred contact method' %>
    </div>
    <div class="field">
      <%= f.select :enquiry_type, options_for_select(Contact::ENQUIRY_TYPES, selected: (params[:enquiry_type] if params[:enquiry_type].present?)), prompt: 'Enquiry type' %>
    </div>
  </div>


  <div class="field full">
    <%= f.select :find_us, options_for_select(Contact::HOW_HEARDS), include_blank: 'How did you find us?' %>
  </div>

  <div class="field full">
    <%= f.text_area :message, placeholder: 'Message' %>
  </div>

  <%= f.hidden_field :wealth_management, value: '1' %>

  <div class="actions">
    <%= f.submit "Send", class: "submit-button" %>
  </div>
</div>
