<div class="contact-details">
  <div class="related-fields">
    <div class="field">
      <%= f.label :forename %>
      <%= f.text_field :forename, placeholder: 'Forename' %>
    </div>
    <div class="field">
      <%= f.label :surname %>
      <%= f.text_field :surname, placeholder: 'Surname' %>
    </div>
  </div>
  <div class="related-fields">
    <div class="field">
      <%= f.label :telephone %>
      <%= f.text_field :telephone, placeholder: 'Telephone' %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: 'Email' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :preferred_contact_method %>
    <%= f.select :preferred_contact_method, Contact::CONTACT_METHODS, prompt: 'Preferred contact method' %>
  </div>


  <div class="field full">
    <%= f.label :how_heard, 'How did you find us?' %>
    <%= f.select :how_heard, options_for_select(Contact::HOW_HEARDS), include_blank: 'How did you find us?' %>
  </div>

  <div class="field full">
    <%= f.label :message %>
    <%= f.text_area :message, placeholder: 'Message' %>
  </div>

  <%= f.hidden_field :wealth_management, value: '1' %>

  <%= f.hidden_field :from_url, value: request.original_url %>

  <div class="actions">
    <%= f.submit "Send", class: "submit-button ga-event remote-form-submit", data: { event_category: 'Form Submission', event_action: 'Submit', event_label: 'Contact Us' }  %>
  </div>
</div>
