<%#= render 'events/shared/index_header' if @event_location.blank? %>
<%#= render 'events/shared/location_header' if @event_location.present? %>
<%= content_for :javascript do %>
  <%#= javascript_i nclude_tag 'https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js' %>
  <!--
    <script>
      $(window).load(function() {
        $('.module-index').masonry({
          itemSelector: '.index-module'
        });
      });
    </script>
  -->
<% end %>
<div class="large-content">
  <% cache @event_categories do %>
    <aside class="large-content__aside">
      <div class="large-content-aside-sticky">
        <div class="large-content-aside-title">
          <h2 class="large-content-aside-title__text">
            Categories
          </h2>
        </div>
        <%= link_to 'Events',
                    '#large-content-aside-navigation',
                    class: 'slide-toggle
                            large-content-aside-navigation__toggle',
                    data: {
                      container: '.large-content-aside-navigation',
                      return: false
                    } %>
        <ul class="large-content-aside-navigation large-content-aside-navigation--without-icon" id="large-content-aside-navigation">
          <% @event_categories.in_groups_of(6, false) do |event_categories| %>
            <% event_categories.each do |event_category| %>
              <li class="large-content-aside-navigation__item">
                <%= render 'event_categories/shared/link', event_category: event_category %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </aside>
  <% end %>
  <% cache @events do %>
    <main class="large-content__main">
      <section class="large-content-element">
        <div class="large-content-element__container">
          <% if @events.blank? %>
            <div class="large-content-element__section">
              <div class="large-content-inner">
                <div class="large-content-inner__main">
                  <h1 class="large-content-inner__title">
                    No events
                  </h1>
                  <div class="large-content-inner-styles">
                    <p>There are no upcoming events.</p>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="large-content-inner__main large-content-inner__main--full">
              <div class="large-content-masonry">
                <%= render partial: 'events/event', collection: @events, as: :event, cached: true %>
              </div>
            </div>
            <div class="module-pagination">
              <%= paginate @events %>
            </div>
          <% end %>
        </div>
      </section>
    </main>
  <% end %>
</div>
