<% vat_total = 0 %>
<% vat_total += purchase.vat %>
<% vat_total += ConveyancingCalculator.configuration.additional_static_costs[purchase.user.symbolised_location].reduce(Hash.new, :merge)[:premium_search] * ConveyancingCalculator.configuration.vat_rate %>

<% cost_total = 0 %>

<% purchase.additional_costs.each do |additional_cost| %>
  <% cost = costs[additional_cost] %>
  <% vat_total += cost * ConveyancingCalculator.configuration.vat_rate %>
<% end %>

<% cost_total += vat_total %>

<ul class="conveyancing-cost">
  <li class="conveyancing-cost__item conveyancing-cost__item--bordered">
    <%= link_to '#stamp-duty-land-tax',
                class: 'toggle-class-closest conveyancing-cost__label',
                data: {
                  class: 'hide',
                  container: '.stamp-duty-land-tax',
                  return: false
                } do %>
      <%= image_tag 'components/icons/tooltip.gif',
                    alt: 'Find out more',
                    class: 'conveyancing-cost__tooltip' %>
      Stamp Duty Land Tax
    <% end %>

    <span class="conveyancing-cost__fee">
      <% cost_total += purchase.stamp_duty %>
      <%= number_to_currency purchase.stamp_duty %>
    </span>

    <%= render "conveyancing_quotes/shared/tooltips/stamp_duty_land_tax" %>
  </li>

  <li class="conveyancing-cost__item conveyancing-cost__item--bordered">
    <%= link_to '#land-registry-fee',
                class: 'toggle-class-closest conveyancing-cost__label',
                data: {
                  class: 'hide',
                  container: '.land-registry-fee',
                  return: false
                } do %>
      <%= image_tag 'components/icons/tooltip.gif',
                    alt: 'Find out more',
                    class: 'conveyancing-cost__tooltip' %>
      Land Registry Fee
    <% end %>

    <span class="conveyancing-cost__fee">
      <% cost_total += purchase.land_fee_calculator.fee %>
      <%= number_to_currency purchase.land_fee_calculator.fee %>
    </span>

    <%= render "conveyancing_quotes/shared/tooltips/land_registry_fee" %>
  </li>

  <li class="conveyancing-cost__item conveyancing-cost__item--bordered">
    <%= link_to '#premium-search-package',
                class: 'toggle-class-closest conveyancing-cost__label',
                data: {
                  class: 'hide',
                  container: '.premium-search-package',
                  return: false
                } do %>
      <%= image_tag 'components/icons/tooltip.gif',
                    alt: 'Find out more',
                    class: 'conveyancing-cost__tooltip' %>
      Premium Search Package
    <% end %>

    <span class="conveyancing-cost__fee">
      <% premium_search = ConveyancingCalculator.configuration.additional_static_costs[purchase.user.symbolised_location].reduce(Hash.new, :merge)[:premium_search] %>
      <% cost_total += premium_search %>
      <%= number_to_currency premium_search %>
    </span>

    <%= render "conveyancing_quotes/shared/tooltips/premium_search_package" %>
  </li>

  <li class="conveyancing-cost__item conveyancing-cost__item--bordered">
    <div class="conveyancing-cost__label">
      VAT (where applicable)
    </div>

    <span class="conveyancing-cost__fee">
      <%= number_to_currency vat_total %>
    </span>
  </li>
</ul>

<div class="conveyancing-breakdown__sub-total-overview">
  Sub-total

  <div class="conveyancing-breakdown__sub-total">
    <%= number_to_currency cost_total %>
  </div>
</div>
