<% costs = ConveyancingCalculator.configuration.additional_costs[f.object.user.symbolised_location].reduce(Hash.new, :merge) %>

<ul class="conveyancing-cost">
  <li class="conveyancing-cost__item">
    <%= f.label :second_home_or_buy_to_let,
                'Is this a second home or buy-to-let purchase?',
                class: 'conveyancing-cost__label' %>

    <span class="conveyancing-cost__fee">

    </span>
    <span class="conveyancing-cost__checkbox">
      <%= f.check_box :second_home_or_buy_to_let %>

      <%= link_to '' do %>
        <svg class="cross__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="cross__circle" cx="26" cy="26" r="25" fill="none"/>
          <path class="cross__path cross__path--right" fill="none" d="M16,16 l20,20" />
          <path class="cross__path cross__path--right" fill="none" d="M16,36 l20,-20" />
        </svg>
      <% end %>

      <%= link_to '' do %>
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
        </svg>
      <% end %>
    </span>
  </li>

  <li class="conveyancing-cost__item">




    <%= f.label :leasehold_house, 'Leasehold house', class: 'inline-label' %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#leasehold-house',
                class: 'toggle-class-closest',
                data: {
                  class: 'hide',
                  container: '.leasehold-house',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/leasehold_house' %>

    <span class="conveyancing-cost__fee">
      <%= number_to_currency costs[:leasehold_house] %>
    </span>
    <span class="conveyancing-cost__checkbox">
      <%= f.check_box :leasehold_house %>
    </span>
  </li>
</ul>




<div class="field">
</div>

<p>Please tick any other requirements.</p>

<div class="conveyancing-additional-requirements">

  <div class="field">


  </div>

  <div class="field">

  <%= number_to_currency costs[:leasehold_apartment] %>
    <%= f.check_box :leasehold_apartment %>
    <%= f.label :leasehold_apartment, 'Leasehold apartment', class: 'inline-label' %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#leasehold-apartment',
                class: 'toggle-class-closest',
                data: {
                  class: 'hide',
                  container: '.leasehold-apartment',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/leasehold_apartment' %>
  </div>

  <div class="field">




  <%= number_to_currency costs[:help_to_buy_scheme] %>

    <%= f.check_box :help_to_buy_scheme %>
    <%= f.label :help_to_buy_scheme, 'Help to Buy Scheme', class: 'inline-label' %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#help-to-buy-scheme',
                class: 'toggle-class-closest',
                data: {
                  class: 'hide',
                  container: '.help-to-buy-scheme',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/help_to_buy_scheme' %>
  </div>

  <div class="field">
  <%= number_to_currency costs[:help_to_buy_isa] %>

    <%= f.check_box :help_to_buy_isa %>
    <%= f.label :help_to_buy_isa, 'Help to Buy ISA', class: 'inline-label' %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#help-to-buy-isa',
                class: 'toggle-class-closest',
                data: {
                  class: 'hide',
                  container: '.help-to-buy-isa',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/help_to_buy_isa' %>
  </div>

  <div class="field">
  <%= number_to_currency costs[:shared_ownership_scheme] %>

    <%= f.check_box :shared_ownership_scheme %>
    <%= f.label :shared_ownership_scheme, 'Shared Ownership Scheme', class: 'inline-label'  %>

    <%= link_to (image_tag 'components/icons/tooltip.gif', alt: 'Find out more'),
                '#shared-ownership-scheme',
                class: 'toggle-class-closest',
                data: {
                  class: 'hide',
                  container: '.shared-ownership-scheme',
                  return: false
                } %>

    <%= render 'conveyancing_quotes/shared/tooltips/shared_ownership_scheme' %>
  </div>
</div>
