<div class="stamp-duty-calculator">
  <%= form_for @stamp_duty_calculator,
              remote: true,
              url: conveyancing_quotes_stamp_duty_calculator_path,
              html: {
                class: 'stamp-duty-calculator-form'
              } do |f| %>
    <div class="field stamp-duty-calculator-form__input">
      <%= f.label :price, 'Please enter the price of the purchase' %>
      <%= f.text_field :price, required: true %>
    </div>

    <div class="field stamp-duty-calculator-form__radio">
      <%= f.label :purchase_type_first_time_buyer,
                  'This is my first home purchase',
                  class: 'stamp-duty-calculator-form__radio-label ga-event',
                  data: {
                    event_category: 'Stamp Duty Calculator',
                    event_action: 'Click',
                    event_label: 'First Time Buyer'
                  } %>
      <%= f.radio_button :purchase_type, 'first_time_buyer', class: 'ga-event',
                  data: {
                    event_category: 'Stamp Duty Calculator',
                    event_action: 'Click',
                    event_label: 'First Time Buyer'
                  } %>
    </div>

    <div class="field stamp-duty-calculator-form__radio">
      <%= f.label :purchase_type_not_first_time_buyer,
                  'This is not my first home purchase',
                  class: 'stamp-duty-calculator-form__radio-label ga-event',
                  data: {
                    event_category: 'Stamp Duty Calculator',
                    event_action: 'Click',
                    event_label: 'Not A First Time Buyer'
                  } %>
      <%= f.radio_button :purchase_type, 'not_first_time_buyer',
                          checked: true,
                          class: 'ga-event',
                          data: {
                            event_category: 'Stamp Duty Calculator',
                            event_action: 'Click',
                            event_label: 'Not A First Time Buyer'
                          } %>
    </div>

    <div class="field stamp-duty-calculator-form__radio">
      <%= f.label :purchase_type_second_home_or_buy_to_let,
                  'This is a second home or buy-to-let purchase',
                  class: 'stamp-duty-calculator-form__radio-label ga-event',
                  data: {
                    event_category: 'Stamp Duty Calculator',
                    event_action: 'Click',
                    event_label: 'Second Home or Buy To Let'
                  } %>
      <%= f.radio_button :purchase_type, 'second_home_or_buy_to_let',
                        class: 'ga-event',
                          data: {
                            event_category: 'Stamp Duty Calculator',
                            event_action: 'Click',
                            event_label: 'Second Home or Buy To Let'
                          } %>
    </div>

    <div class="actions stamp-duty-calculator-form__submit">
      <%= f.submit 'Calculate',
                  class: 'submit-button ga-event',
                  data: {
                    event_category: 'Stamp Duty Calculator',
                    event_action: 'Click',
                    event_label: 'Submit Stamp Duty Quote'
                  } %>
    </div>
  <% end %>

  <div class="stamp-duty-calculator-result-partial">
    <div class="stamp-duty-calculator-result-calculation">
    </div>
    <p>
      If you would like to talk to one of our property team about your
      property purchase please call
      <%= link_to "tel:#{global_site_settings['Phone'].tr(' ', '')}", class: 'ga-event',
                  data: {
                    event_category: 'Offline contact',
                    event_action: 'Phone call'
                  } do %>
        <span class="calltracks_bannerjonescouk-main">
          <%= global_site_settings['Phone'] %>
        </span>
      <% end %>
    </p>
  </div>
</div>
