<%= render 'shared/flash_messages' %>

<%= form_for @contact, url: inpage_contacts_path, remote: true, html: { id: 'landing-page-contact-form', class: 'inpage-contact-form remote-contact-form-event' } do |f| %>
  <h2 class="request-contact-title">Contact us</h2>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize @contact.errors.count, 'error' %> prevented this message from being sent
      </h2>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if (@page.present? && @page.layout == 'wealth_management') || @contact.wealth_management.present? %>
    <%= render partial: 'contacts/shared/remote_form_fields_wealth_management', locals: { f: f }  %>
  <% elsif (@service.present? && @service.title == 'Mediation') || @contact.mediation.present? %>
    <%= render partial: 'contacts/shared/remote_form_fields_solicitors', locals: { f: f, mediation: true } %>
  <% else %>
    <%= render partial: 'contacts/shared/remote_form_fields_solicitors', locals: { f: f } %>
  <% end %>
<% end %>
