<p>
  <strong>Forename</strong><br />

  <%= @contact.forename %>
</p>

<p>
  <strong>Surname</strong><br />

  <%= @contact.surname %>
</p>

<p>
  <strong>Telephone</strong><br />

  <%= @contact.telephone %>
</p>

<p>
  <strong>Email</strong><br />

  <%= @contact.email %>
</p>

<p>
  <strong>Preferred contact method</strong><br />

  <%= @contact.preferred_contact_method %>
</p>

<p>
  <strong>Preferred office</strong><br />

  <%= @contact.preferred_office %>
</p>

<p>
  <strong>Service</strong><br />

  <%= @contact.service %>
</p>

<p>
  <strong>Enquiry type</strong><br />

  <%= @contact.enquiry_type %>
</p>

<p>
  <strong>Message</strong><br />

  <%= @contact.message %>
</p>

