<%= content_tag :h1, 'Wealth Management' if @contact.wealth_management.present? %>

<% if @contact.forename.present? %>
  <p>
    <strong>Forename</strong><br />

    <%= @contact.forename %>
  </p>
<% end %>

<% if @contact.surname.present? %>
  <p>
    <strong>Surname</strong><br />

    <%= @contact.surname %>
  </p>
<% end %>

<% if @contact.telephone.present? %>
  <p>
    <strong>Telephone</strong><br />

    <%= @contact.telephone %>
  </p>
<% end %>

<% if @contact.email.present? %>
  <p>
    <strong>Email</strong><br />

    <%= @contact.email %>
  </p>
<% end %>

<% if @contact.preferred_contact_method.present? %>
  <p>
    <strong>Preferred contact method</strong><br />

    <%= @contact.preferred_contact_method %>
  </p>
<% end %>

<% if @contact.preferred_office.present? %>
  <p>
    <strong>Preferred office</strong><br />

    <%= @contact.preferred_office %>
  </p>
<% end %>

<% if @contact.service.present? %>
  <p>
    <strong>Service</strong><br />

    <%= @contact.service %>
  </p>
<% end %>

<% if @contact.enquiry_type.present? %>
  <p>
    <strong>Enquiry type</strong><br />

    <%= @contact.enquiry_type %>
  </p>
<% end %>

<% if @contact.how_heard.present? %>
  <p>
    <strong>How did you find us?</strong><br />

    <%= @contact.how_heard %>
  </p>
<% end %>

<% if @contact.message.present? %>
  <p>
    <strong>Message</strong><br />

    <%= simple_format @contact.message %>
  </p>
<% end %>

<%= link_to "Submitted from #{@contact.from_url}", @contact.from_url if @contact.from_url.present? %>
