<div class="resources-slick-<%= onpage_navigation.id %>">
  <% resources.each do |resource| %>
    <% present resource do |resource_presenter| %>
      <div class="onpage-resource">
        <div class="onpage-resource__content">
          <h2 class="onpage-resource__title">
            <%= resource_presenter.title %>
          </h2>
          <%= resource_presenter.linked_download(
                      resource_presenter.show_image(
                        {
                          alt: resource_presenter.title,
                          class: 'onpage-resource__image'
                        }
                      ),
                      {
                        title: resource_presenter.title,
                        target: '_blank'
                      }
                    ) if resource_presenter.index_image.present? %>
          <%= resource_presenter.linked_download(
                      image_tag 'components/icons/download-bold.png',
                                alt: '',
                                class: 'onpage-resource__download'
                    ) %>
        </div>
        <%#= link_to resource.file.url,
                          class: 'onpage-resource__summary ga-event',
                          data: {
                            event_category: 'Guide',
                            event_action: 'Click',
                            event_title: resource_presenter.title
                          } do %>
          <%= link_to audience_service_resource_path(resource.services.first.audience, resource.services.first, resource),
                          class: 'onpage-resource__summary ga-event',
                          data: {
                            event_category: 'Guide',
                            event_action: 'Click',
                            event_title: resource_presenter.title
                          } do %>
            <div class="onpage-resource__title">
              <%= resource_presenter.title %>
            </div>
            <%= resource_presenter.summary %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
