<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>
    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :summary %><br>
        <%= f.text_area :summary %>
      </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'tinymce' %>
      </div>
      <div class="field">
        <%= f.label :booking_link %><br>
        <%= f.text_field :booking_link %>
      </div>
      <%= f.datetimepicker_field :event_start %>
      <%= f.datetimepicker_field :event_end %>
      <%= f.datetimepicker_field :booking_deadline %>
    <% end %>
    <%= field_set_tag nil, id: 'tabs-2' do %>
      <%= f.image_field :image %>
      <%= f.image_field :social_share_image %>
      <div class="field">
        <%= f.label :social_share_title %><br>
        <%= f.text_field :social_share_title %>
      </div>
      <div class="field">
        <%= f.label :social_share_description %><br>
        <%= f.text_field :social_share_description %>
      </div>
    <% end %>
    <%= field_set_tag nil, id: 'tabs-3' do %>
      <div class="field">
        <%= f.label :event_category_id %><br>
        <%= f.select :event_category_id, EventCategory.pluck(:title, :id), prompt: 'Please select' %>
      </div>
      <div class="field">
        <%= f.label :event_location_id %><br>
        <%= f.select :event_location_id, EventLocation.all.map{ |x| [x.address_fields, x.id] }, prompt: 'Please select' %>
      </div>
      <%= render 'optimadmin/shared/service_select_field', f: f %>
      <%= render 'optimadmin/shared/suggested_url_field', f: f %>
      <%= render 'optimadmin/shared/display_status_field', f: f %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
    <%= f.submit "Save and continue editing" %>
  </div>
<% end %>
