<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/testimonials/slider.js' %>
  <%= javascript_include_tag 'components/home-components.js' %>
  <%= javascript_include_tag 'components/shared-components.js' %>
  <script>
    $(window).load(function() {
      $('.hero-banner-navigation-link-horizontal img').addClass('loaded');
    });
  </script>
<% end %>

<% if @facade.banners.present? %>
  <%= render(
    partial: "homes/banners",
    locals: {
      banners: @facade.banners,
      banner_services: @facade.banner_services
    }
  ) %>
<% end %>

<section class="home-cta">
  <%= render partial: 'homes/shared/cta_link',
             locals: {
               line_1: 'Moving',
               line_2: 'Home?',
               image: image_url('layout/home/call-to-actions/moving-home.png'),
               link: '/for-you-your-family/services/residential-property'
             } %>
  <%= render partial: 'homes/shared/cta_link',
             locals: {
               line_1: 'Relationship',
               line_2: 'Problems?',
               image: image_url('layout/home/call-to-actions/relationship-problems.png'),
               link: root_url
             } %>
  <%= render partial: 'homes/shared/cta_link',
             locals: {
               line_1: 'Had an',
               line_2: 'accident or injury?',
               image: image_url('layout/header/logo.png'),
               link: root_url
             } %>
</section>

<div class="content-area">
  <div class="content-area__inner">
    <div class="content-section content-section--shadow">
      <div class="content-section__full">
        <h1 class="home-solicitors-title">
          Solicitors in
          <span class="home-solicitors-title__emphasis">Sheffield</span>,
          <span class="home-solicitors-title__emphasis">Chesterfield</span> and
          <span class="home-solicitors-title__emphasis">Mansfield</span>
        </h1>

        <% if @facade.team_members.present? %>
          <%= render(
            partial: "homes/team_members",
            locals: { team_members: @facade.team_members }
          ) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.testimonials-slider').slick({
        dots: true,
        arrows: false
      });
    });
  </script>
<% end %>

<div class="content-area">
  <div class="content-area__inner content-area__inner--row">
    <%= render 'homes/shared/resources', resources: @facade.resources %>
    <%= render 'homes/shared/testimonials', testimonials: @facade.testimonials %>
  </div>
</div>


<div class="content-area">
  <div class="content-area__inner content-area__inner--row">
    <%= render 'homes/shared/articles', articles: @facade.articles %>
    <%= render 'homes/shared/twitter' %>
  </div>
</div>
