<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/testimonials/slider.js' %>
  <%= javascript_include_tag 'components/home-components.js' %>
  <%= javascript_include_tag 'components/shared-components.js' %>
  <script>
    $(window).load(function() {
      $('.hero-banner-navigation-link-horizontal img').addClass('loaded');
    });
  </script>
<% end %>

<% if @facade.banners.present? %>
  <%= render(
    partial: "homes/banners",
    locals: {
      banners: @facade.banners,
      banner_services: @facade.banner_services
    }
  ) %>
<% end %>

<div class="content" role="main">
  <section class="home-content-box-wrap">
    <h1 class="home-solicitors-title">Solicitors in Sheffield, Chesterfield and Mansfield</h1>
  </section>

  <%= render(
    partial: 'application/shared/resources',
    locals: {
      resources: @facade.resources
    }
  ) if @facade.resources.present? %>

  <% if @facade.team_members.present? %>
    <%= render(
      partial: "homes/team_members",
      locals: { team_members: @facade.team_members }
    ) %>
  <% end %>

  <% if @facade.testimonials.present? %>
    <%= render(
      partial: "homes/testimonials",
      locals: { testimonials: @facade.testimonials }
    ) %>
  <% end %>

  <% if @facade.articles.present? || @facade.events.present? %>
    <%= render(
      partial: "homes/articles",
      locals: { articles: @facade.articles, events: @facade.events }
    ) %>
  <% end %>
</div>
