<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/testimonials/slider.js' %>
  <%= javascript_include_tag 'components/home-components.js' %>
  <%= javascript_include_tag 'components/shared-components.js' %>
<% end %>

<% if @facade.banners.present? %>
  <section class="hero-banner">
    <div class="hero-banner-controls-wrap">
      <%= image_tag 'components/icons/hero/previous.png', alt: '', class: 'hero-banner-controls hero-banner-previous', title: 'Previous slide' %>
      <%= image_tag 'components/icons/hero/next.png', class: 'hero-banner-controls hero-banner-next', title: 'Next slide' %>
    </div>

    <div class="hero-banner-slick">
      <%= render partial: 'banners/banner', collection: @facade.banners, as: :banner %>
    </div>

    <% if @facade.banner_services.present? && global_site_settings['Banner navigation'] == 'Vertical' %>
      <%= render(
        partial: 'application/shared/hero_banner_navigation_vertical',
        locals: {
          banner_services: @facade.banner_services
        }
      ) %>
    <% end %>
  </section>

  <% if @facade.banner_services.present? && global_site_settings['Banner navigation'] == 'Horizontal' %>
    <%= render(
      partial: 'application/shared/hero_banner_navigation_horizontal',
      locals: {
        banner_services: @facade.banner_services
      }
    ) %>
  <% end %>
<% end %>

<div class="content">
  <%= render(
    partial: 'application/shared/resources',
    locals: {
      resources: @facade.resources
    }
  ) if @facade.resources.present? %>

  <% if @facade.team_members.present? %>
    <section class="home-content-box-wrap">
      <div class="home-content-box">
        <%= render 'team_members/shared/slider', team_members: @facade.team_members, title: 'Specialist Team' %>
      </div>
    </section>
  <% end %>

  <% if @facade.testimonials.present? %>
    <section class="home-content-box-wrap">
      <div class="home-content-box inner testimonials">
        <h2 class="home-content-box-title testimonials-title">
          A People Business
        </h2>

        <div class="testimonials-slick">
          <%= render @facade.testimonials %>
        </div>
      </div>
    </section>
  <% end %>

  <% if @facade.articles.present? %>
    <section class="home-content-box-wrap">
      <div class="home-content-box inner">
        <div class="articles-home-content-box-slider-controls">
          <%= link_to '#', class: 'home-content-box-previous', title: 'Previous' do %>
            <%= image_tag 'components/icons/content-box/previous.png', alt: '' %>
          <% end %>
          <%= link_to '#', class: 'home-content-box-next', title: 'Next' do %>
            <%= image_tag 'components/icons/content-box/next.png', alt: '' %>
          <% end %>
        </div>

        <h2 class="home-content-box-title">
          News
        </h2>

        <div class="articles-slick">
          <%= render partial: 'articles/home_article', collection: @facade.articles, as: :article %>
        </div>
      </div>
    </section>
  <% end %>
</div>
