<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/testimonials/slider.js' %>
  <%= javascript_include_tag 'components/home-components.js' %>
  <%= javascript_include_tag 'components/shared-components.js' %>
  <script>
    $(window).load(function() {
      $('.hero-banner-navigation-link-horizontal img').addClass('loaded');
    });
  </script>
<% end %>

<% if @facade.banners.present? %>
  <%= render(
    partial: "homes/banners",
    locals: {
      banners: @facade.banners,
      banner_services: @facade.banner_services
    }
  ) %>
<% end %>

<section class="home-cta">
  <%= link_to '', class: 'home-cta__highlight' do %>
    <div class="content-section content-section--centered content-section--shadow content-section--bottom-border">
      <div class="content-section__text">
        <div class="content-section__title">
          Relationship
          <div class="content-section__emphasis">
            Problems?
          </div>
        </div>
      </div>

      <div class="content-section__image">
        <%= image_tag 'http://placehold.it/200x200' %>
      </div>
    </div>
  <% end %>
  <%= link_to '', class: 'home-cta__highlight' do %>
    <div class="content-section content-section--centered content-section--shadow content-section--bottom-border">
      <div class="content-section__text">
        <div class="content-section__title">
          Relationship
          <div class="content-section__emphasis">
            Problems?
          </div>
        </div>
      </div>

      <div class="content-section__image">
        <%= image_tag 'http://placehold.it/200x200' %>
      </div>
    </div>
  <% end %>
  <%= link_to '', class: 'home-cta__highlight' do %>
    <div class="content-section content-section--centered content-section--shadow content-section--bottom-border">
      <div class="content-section__text">
        <div class="content-section__title">
          Relationship
          <div class="content-section__emphasis">
            Problems?
          </div>
        </div>
      </div>

      <div class="content-section__image">
        <%= image_tag 'http://placehold.it/200x200' %>
      </div>
    </div>
  <% end %>
</section>

<div class="content-area">
  <div class="content-area__inner">
    <div class="content-section content-section--shadow">
      <div class="content-section__full">
        <h1 class="home-solicitors-title">
          Solicitors in
          <span class="home-solicitors-title__emphasis">Sheffield</span>,
          <span class="home-solicitors-title__emphasis">Chesterfield</span> and
          <span class="home-solicitors-title__emphasis">Mansfield</span>
        </h1>

        <% if @facade.team_members.present? %>
          <%= render(
            partial: "homes/team_members",
            locals: { team_members: @facade.team_members }
          ) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.resources-slider').slick({
        dots: true,
        arrows: false,
        asNavFor: '.resources-home__list'
      });

      $('.testimonials-slider').slick({
        dots: true,
        arrows: false
      });

      $('.resources-home__list').slick({
        dots: false,
        arrows: false,
        asNavFor: '.resources-slider',
        slidesToShow: <%= @facade.resources.size %>,
        vertical: true
      });
    });

    $(document).on('click', '.resources-home__link', function() {
      var index = $(this).parent().data('slick-index');
      $('.resources-slider').slick('slickGoTo', index);
      return false;
    });
  </script>
<% end %>

<div class="content-area">
  <div class="content-area__inner content-area__inner--row">
    <section class="resources-home">
      <div class="resources-home__inner">
        <div class="resources-home__navigation">
          <h2 class="resources-home-title">
            Guides to <span class="resources-home-title__emphasis">help you</span> with...
          </h2>

          <ul class="resources-home__list">
            <% @facade.resources.each do |resource| %>
              <li class="resources-home__item">
              <%= link_to resource.title, '#resources', class: 'resources-home__link' %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="resources-home__preview" id="resources">
          <div class="resources-slider">
            <% @facade.resources.each do |resource| %>
              <% present resource do |resource_presenter| %>
                <div class="onpage-resource">
                  <div class="onpage-resource__content">
                    <h2 class="onpage-resource__title">
                      <%= resource_presenter.title %>
                    </h2>

                    <%= resource_presenter.linked_download(
                          resource_presenter.show_image(
                            {
                              alt: resource_presenter.title,
                              class: 'onpage-resource__image'
                            }
                          ),
                          {
                            title: resource_presenter.title,
                            target: '_blank'
                          }
                        ) if resource_presenter.index_image.present? %>

                    <%= resource_presenter.linked_download(
                          image_tag 'components/icons/download-bold.png',
                                    alt: '',
                                    class: 'onpage-resource__download'
                        ) %>
                  </div>

                  <%= link_to resource.file.url,
                              class: 'onpage-resource__summary ga-event',
                              data: {
                                event_category: 'Guide',
                                event_action: 'Click',
                                event_title: resource_presenter.title
                              } do %>
                    <div class="onpage-resource__title">
                      <%= resource_presenter.title %>
                    </div>

                    <%= resource_presenter.summary %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <section class="testimonials-home">
      <div class="testimonials-home__inner">
        <div class="testimonials-slider">
          <%= render partial: 'services/onpage_navigations/conveyancing/shared/testimonial',
                    collection: @facade.testimonials,
                    as: :testimonial %>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="content-area">
  <div class="content-area__inner content-area__inner--row">
    <section class="articles-home">
      <div class="content-section content-section--shadow">
        <div class="content-section__full">
          <h2 class="standard-content-box-title standard-content-box-title--no-border">
            Latest News
          </h2>

          <% @facade.articles.limit(4).each_with_index do |article, index| %>
            <% cache [article, article.team_members.map(&:updated_at).max].compact do %>
              <% present article do |article_presenter| %>
                <div class="service-article <%= index >= 1 ? 'closed' : 'opened' %>">
                  <%= content_tag :div, article_presenter.index_image(alt: article_presenter.title), class: 'service-article-image' if article_presenter.index_image.present? %>

                  <div class="service-article-content">
                    <div class="service-article-date">
                      <%= article_presenter.date(:short) %>
                    </div>

                    <%= article_presenter.linked_text(article.title, {title: "Read #{article_presenter.title}", class: "#{article.team_members.present? ? 'service-article-title' : 'service-article-full-title' }"}) %>

                    <div class="service-article-summary">
                      <%= article_presenter.summary %>
                    </div>

                    <div class="service-article-footer">
                      <%= article_presenter.linked_text('Read more >', {title: "Read #{article_presenter.title}", class: 'service-article-read-more'}) %>

                      <div class="service-article-team-members">
                        <div class="multiple-team-members-slick">
                          <% article.team_members.each do |team_member| %>
                            <div>
                              <% present team_member do |team_member_presenter| %>
                                <div class="service-article-team-member-details">
                                  <div class="service-article-team-member-name">
                                    <%= team_member_presenter.full_name %>
                                  </div>

                                  <div class="service-article-team-member-services">
                                    <%= team_member_presenter.service_titles %>
                                  </div>
                                </div>

                                <div class="team-member-avatar">
                                  <%= team_member_presenter.small_image(alt: team_member_presenter.full_name) %>
                                </div>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>

    <section class="twitter-home">
      <div class="content-section content-section--shadow">
        <div class="content-section__full">
          <div class="home-twitter-overview">
            <%= image_tag 'components/icons/twitter.png',
                          alt: 'Twitter',
                          class: 'home-twitter-overview__icon' %>

            <%= link_to "https://www.twitter.com/#{global_site_settings['Twitter']}", class: 'home-twitter-overview__title' do %>
              @<%= global_site_settings['Twitter'] %>
            <% end %>
          </div>

          <% cache('twitter', expires_in: 20.minutes) do %>
            <% tweets = twitter_timeline(global_site_settings['Twitter'], 1) %>
            <% if tweets.present? %>
              <% tweets.each do |tweet| %>
                <div class="home-twitter-content">
                  <p class="home-twitter-content__tweet">
                    <%= raw scan_for_links(tweet.text) %>
                  </p>

                  <div class="home-twitter-content__time">
                    <%= tweet_time(tweet.created_at) %>
                  </div>
                </div>

                <ul class="home-twitter-controls">
                  <li class="home-twitter-controls__item">
                    <%= link_to "https://twitter.com/intent/retweet?tweet_id=#{tweet.id}", class: 'home-twitter-controls__link' do %>
                      <%= image_tag 'components/icons/twitter/retweet.png', alt: '' %>
                    <% end %>
                  </li>
                  <li class="home-twitter-controls__item">
                    <%= link_to "https://twitter.com/intent/like?tweet_id=#{tweet.id}", class: 'home-twitter-controls__link' do %>
                      <%= image_tag 'components/icons/twitter/like.png', alt: '' %>
                    <% end %>
                  </li>
                </ul>
              </ul>
            <% end %>
          <% else %>
            <div class="home-twitter-content">
              <p class="home-twitter-content__tweet">
                Follow us on Twitter
                <%= link_to "https://www.twitter.com/#{global_site_settings['Twitter']}", class: 'home-twitter-overview__title' do %>
                  @<%= global_site_settings['Twitter'] %>
                <% end %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
