<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/testimonials/slider.js' %>
  <%= javascript_include_tag 'components/home-components.js' %>
  <%= javascript_include_tag 'components/shared-components.js' %>
  <script>
    $(window).load(function() {
      $('.hero-banner-navigation-link-horizontal img').addClass('loaded');
    });
  </script>
<% end %>

<% if @facade.banners.present? %>
  <%= render(
    partial: "homes/banners",
    locals: {
      banners: @facade.banners,
      banner_services: @facade.banner_services,
      cached: (@facade.audience.present? ? ['home_banners', @facade.audience.updated_at, @facade.banners.maximum(:updated_at)] : ['home_banners', @facade.banners.maximum(:updated_at)])
    },
  ) %>
<% end %>

<section class="home-cta">
  <% if @facade.audience.present? && @facade.audience.id == 2 %>
    <%= render partial: 'homes/shared/cta_link',
              locals: {
                line_1: 'Dispute',
                line_2: 'Resolution',
                image: image_url('layout/home/call-to-actions/dispute.png'),
                link: '/for-business/services/dispute-resolution'
              } %>
    <%= render partial: 'homes/shared/cta_link',
              locals: {
                line_1: 'Employment',
                line_2: 'Law',
                image: image_url('layout/home/call-to-actions/employment-law.png'),
                link: '/for-business/services/employment-law'
              } %>
    <%= render partial: 'homes/shared/cta_link',
              locals: {
                line_1: 'Commercial',
                line_2: 'Property',
                image: image_url('layout/home/call-to-actions/commercial.png'),
                link: '/for-business/services/business-services/commercial-property'
              } %>
  <% else %>
    <%= render partial: 'homes/shared/cta_link',
              locals: {
                line_1: 'Moving',
                line_2: 'Home?',
                image: image_url('layout/home/call-to-actions/moving-home.png'),
                link: '/for-you-your-family/services/residential-property'
              } %>
    <%= render partial: 'homes/shared/cta_link',
              locals: {
                line_1: 'Relationship',
                line_2: 'Problems?',
                image: image_url('layout/home/call-to-actions/relationship-problems.png'),
                link: '/for-you-your-family/services/family-law/relationships-and-children/divorce-and-separation'
              } %>
    <%= render partial: 'homes/shared/cta_link',
              locals: {
                line_1: 'Had an',
                line_2: 'accident or injury?',
                image: image_url('layout/home/call-to-actions/personal-injury.png'),
                link: '/for-you-your-family/services/personal-injury'
              } %>
  <% end %>
</section>

<div class="content-area">
  <div class="content-area__inner">
    <div class="content-section content-section--shadow">
      <div class="content-section__full">
        <h1 class="home-solicitors-title">
          Solicitors in
          <span class="home-solicitors-title__emphasis">Sheffield</span>,
          <span class="home-solicitors-title__emphasis">Chesterfield</span> and
          <span class="home-solicitors-title__emphasis">Mansfield</span>
        </h1>

        <% if @facade.team_members.present? %>
          <%= render(
            partial: "homes/team_members",
            locals: { team_members: @facade.team_members, cached: 'office_show_team_members' }
          ) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.testimonials-slider').slick({
        dots: true,
        arrows: false
      });
    });
  </script>
<% end %>

<div class="content-area">
  <div class="content-area__inner content-area__inner--row">
    <%= render 'homes/shared/resources', resources: @facade.resources, cached: @facade.resources.maximum(:updated_at) %>
    <%= render 'homes/shared/testimonials', testimonials: @facade.testimonials, cached: @facade.testimonials.maximum(:updated_at) %>
  </div>
</div>


<div class="content-area">
  <div class="content-area__inner content-area__inner--row">
    <%= render 'homes/shared/articles', articles: @facade.articles, cached: @facade.articles.maximum(:updated_at) %>
    <%= render 'homes/shared/twitter' %>
  </div>
</div>
