<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/module-categories/toggle' %>
<% end %>

<div class="index-content-wrap">
  <div class="index-content module-index-content">
    <%= link_to '#', class: 'module-category-toggle see-all', data: { container: '.module-categories-dropdown-wrap', class: 'hide', return: 'false' } do %>
      News Categories
      <span class="module-category-toggle-expand">+</span>
      <span class="module-category-toggle-minimise">-</span>
    <% end %>

    <h1 class="standard-content-box-title">
      Latest News
      <% if @article_category.present? %>
        <% present @article_category do |article_category_presenter| %>
          within <strong><%= article_category_presenter.title %></strong>
        <% end %>
      <% end %>
      <% if @service.present? %>
        <% present @service do |service_presenter| %>
          for <strong><%= service_presenter.title %></strong>
        <% end %>
        <%= link_to 'x', articles_path %>
      <% end %>
    </h1>

    <%= render 'article_categories/shared/toggle_overlay' %>
  </div>
</div>
