<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie ie9 lte9"> <![endif]-->
<html lang="en">
  <head>
    <%= render 'layouts/shared/head' %>
    <%= raw tracking_code('application').head %>
  </head>

  <body>
    <%= render 'layouts/tag_manager' %>
    <%= render partial: 'layouts/shared/header',
               locals: {
                 phone: global_site_settings['Phone - Notary'],
                 logo: 'logo.png',
                 notary: true
              } %>


    <%= yield %>

    <%= render partial: 'layouts/shared/footer',
               locals: {
                 phone: global_site_settings['Phone - Notary'],
                 email: global_site_settings['Email - Notary']
              } %>


    <%= render 'layouts/shared/javascripts' %>
    <%= raw tracking_code('application').footer %>
  </body>
</html>
