<div class="social-footer">
  <div class="social-types">
    <div class="social-networks">
      <h5 class="social-title">Social</h5>

      <%= social_icon 'Twitter' %>
      <%= social_icon 'YouTube' %>
      <%= social_icon 'LinkedIn' %>
      <%= social_icon 'Google Plus' %>
      <%= social_icon 'Facebook' %>
    </div>

    <div class="social-contact-methods">
      <div class="contact-method">
        <span class="contact-method-accent">
          e:
        </span>
        <%= site_setting 'Email' %>
      </div>

      <div class="contact-method">
        <span class="contact-method-accent">
          t:
        </span>
        <%= site_setting 'Phone' %>
      </div>
    </div>
  </div>
</div>

<footer class="primary-footer">
  <div class="awards-and-accreditations">
    <div class="awards-and-accreditations-slick">
      <%= render partial: 'awards/footer_awards', collection: @awards, as: :award if @awards.present? %>
    </div>
  </div>

  <div class="primary-footer-navigation">
    Copyright &copy; 2016

    <ul class="primary-footer-navigation-links">
      <%= nested_menu_items(menu_items: @footer_menu.menu_items) %>
    </ul>
  </div>
</footer>

<div class="legal-footer">
  <p>
    All information on this website is property of Banner Jones Solicitors © <%= Date.today.year %>. All rights reserved. Banner Jones and Bilton Hammond Solicitors are the trading name of Banner Jones Ltd.
  </p>
  <p>
    Registered in England No. 6604123. Registered Office: 24 Glumangate, Chesterfield S40 1UA. Banner Jones Ltd is registered for VAT purposes with VAT registration number 345980525.
  </p>
  <p>
    We are authorised and regulated by the Solicitors Regulation Authority (SRA number 493083) under the Solicitors' Code of Conduct. You can access the Code by contacting the SRA, In writing to: The Cube, 199 Wharfside Street, Birmingham, B1 1RN. Fax: 0121 616199. Tel: 0870 6062555 (UK) +44 0121 3296800 (International) or via www.sra.org.uk.
  </p>
  <p>
    The directors of Banner Jones Ltd are Solicitors of England and Wales.
  </p>
</div>

<div class="sticky-call-to-actions">
  <%= link_to '#', class: 'request-callback' do %>
    <%= image_tag 'components/icons/sticky-callback.png', alt: '' %>
    Request a Callback
  <% end %>

  <%= link_to '#', class: 'find-a-lawyer' do %>
    <%= image_tag 'components/icons/sticky-search.png', alt: '' %>
    Find a Lawyer
  <% end %>
</div>
