<div class="sticky-sidebar hide">

</div>

<header class="primary-header">
  <div class="header-branding">
    <%= link_to root_url, title: global_site_settings['Name'], class: 'header-logo' do %>
      <%= image_tag 'layout/header/logo.png', alt: global_site_settings['Name'] %>
    <% end %>

    <%= image_tag 'layout/header/legal-500.png', alt: 'Legal 500',
                                                 class: 'the-legal-500' %>
  </div>

  <div class="header-hamburger-menu">
    <%= link_to '#', class: 'toggle-class', title: 'Show navigation',
                data: {
                  container: '.primary-navigation-wrap',
                  class: 'mobile-expanded',
                  return: 'false'
                } do %>
      <%= image_tag 'components/icons/navigation/hamburger.png', alt: 'Navigation' %>
    <% end %>
  </div>

  <div class="header-contact">
    <ul class="header-aside-navigation">
      <%= nested_menu_items(menu_items: @header_aside_menu.menu_items) %>
    </ul>

    <div class="header-telephone">
      <span class="header-telephone-accent">
        t:
      </span>
      <%= global_site_settings['Phone'] %>
    </div>

    <%= link_to '#', class: 'header-locations', title: 'Locations' do %>
      <%= image_tag 'components/icons/header/map.png', alt: '' %>
    <% end %>
  </div>
</header>

<div class="primary-navigation-wrap">
  <nav class="header-navigation">
    <div class="primary-navigation">
      <ul class="primary-navigation-links">
        <li class="menu-item">
          <%= link_to '#', class: 'primary-navigation-home', title: 'Home' do %>
            <%= image_tag 'components/icons/navigation/home.png', alt: '' %>
          <% end %>
        </li>

        <%= nested_menu_items(menu_items: @primary_header_menu.menu_items) %>
      </ul>
      <%= link_to '#', class: 'toggle-class sticky-sidebar-toggle',
                  title: 'Toggle contact sidebar',
                  data: { container: '.sticky-sidebar', class: 'hide' } do
      %>
        <%= image_tag 'components/icons/header/email.png', alt: '' %>
      <% end %>
    </div>

    <div class="primary-navigation-search">
      <%= form_tag '', method: :get, class: 'header-search-form' do %>
        <%= text_field_tag :search, params[:search],
                                    placeholder: 'Search',
                                    class: 'header-search-input' %>

        <%= submit_tag 'Search', class: 'header-search-submit' %>
      <% end %>
    </div>
  </nav>
</div>
