<div class="slider-team-member-search-field">
  <%= label_tag :name_search, 'Name' %>
  <%= text_field_tag :name_search, '', placeholder: 'Name',
                                class: 'slider-team-member-search-name' %>
</div>

<% if @services.present? %>
  <div class="slider-team-member-search-field">
    <%= label_tag :service_id, 'Department' %>
    <% # [x[0].title, x.map{|x| [x.title, x.id]}] } %>
    <%= select_tag :service_id, grouped_options_for_select(Service.roots.displayed.group_by(&:audience).map{|x| [x.first.title, x.first.services.roots.displayed.pluck(:title, :id)]}),
                             prompt: 'All Departments',
                             class: 'slider-team-member-search-select' %>
  </div>
<% elsif @service.present? %>
  <div class="slider-team-member-search-field">
    <%= hidden_field_tag :service_id, @service.id %>
  </div>
<% end %>

<% if @offices.present? %>
  <div class="slider-team-member-search-field">
    <%= label_tag :office_id, 'Office' %>
    <%= select_tag :office_id, options_for_select(@offices.map{|x| ["#{x.office_location.name} #{"- #{x.building_name}" if x.building_name}", x.id]}, selected: (@office.id if @office.present?)),
                             prompt: 'All Offices',
                             class: 'slider-team-member-search-select' %>
  </div>
<% end %>

<%= content_tag :div, (), class: 'slider-team-member-search-field' if @offices.present? %>

<div class="slider-team-member-search-field">
  <%= submit_tag 'Search', class: 'slider-team-member-search-button' %>
</div>
