<% cache [team_member, team_member.job_roles.map(&:updated_at).max, team_member.department_roles.map(&:updated_at).max, team_member.root_services.map(&:updated_at).max] do %>
  <div class="index-team-member-profile-wrap">
    <% present team_member do |team_member_presenter| %>
      <%= link_to team_member, title: team_member_presenter.full_name do %>
        <%= team_member_presenter.index_image %>
      <% end %>

      <div class="index-team-member-profile-content">
        <%= link_to team_member, title: team_member_presenter.full_name do %>
          <div class="index-team-member-profile-name">
            <%= team_member_presenter.full_name %>
          </div>
        <% end %>

        <div class="index-team-member-profile-role">
          <%= render(
            partial: "team_members/shared/profile_role",
            locals: {
              team_member: team_member,
              team_member_presenter: team_member_presenter
            }
          ) %>
        </div>

        <div class="index-team-member-profile-services">
          <%= render(
            partial: "team_members/shared/root_services",
            locals: {
              team_member: team_member
            }
          ) %>
        </div>

        <div class="index-team-member-profile-office-locations">
          <%= image_tag 'components/icons/team-member/map.png', alt: '', class: 'index-team-member-profile-icon' %>

          <%= render(
            partial: "offices/team_member_office",
            collection: team_member.offices,
            cached: true,
            as: :office,
            locals: {
              team_member: team_member
            }
          ) %>
        </div>

        <div class="index-team-member-contact-methods">
          <%= team_member_presenter.linked_email_address(image_tag 'components/icons/team-member/email.png', alt: 'Email', class: 'index-team-member-profile-icon') %>
          <%= team_member_presenter.linked_telephone(image_tag 'components/icons/team-member/telephone.png', alt: 'Telephone', class: 'index-team-member-profile-icon') %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
