<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/team-members/slider.js' %>
<% end %>

<div class="slider-team-members">
  <div class="slider-team-members-title">
    <h2 class="slider-content-box-title">
      <%= title if defined?(title) %>
    </h2>
  </div>

  <div class="slider-team-member-form-controls">
    <h2 class="slider-team-member-form-title">
      Find People By
    </h2>

    <%= form_tag search_team_members_path, method: :get, remote: true, class: 'slider-team-member-search-form' do %>
      <div class="slider-team-member-search-field">
        <%= text_field_tag :name_search, '', placeholder: 'Name',
                                      class: 'slider-team-member-search-name' %>
      </div>

      <% if @services.present? %>
        <div class="slider-team-member-search-field">
          <%= select_tag :service_id, options_for_select(@services),
                                   prompt: 'Department',
                                   class: 'slider-team-member-search-select' %>
        </div>
      <% elsif @service.present? %>
        <div class="slider-team-member-search-field">
          <%= hidden_field_tag :service_id, @service.id %>
        </div>
      <% end %>

        <%= content_tag :div, (select_tag :office_id, options_for_select(@offices.map{|x| ["#{x.office_location.name} - #{x.building_name}", x.id]}),
                                 prompt: 'Offices',
                                 class: 'slider-team-member-search-select'), class: 'slider-team-member-search-field' if @offices.present? %>

      <div class="slider-team-member-search-field">
        <%= submit_tag 'Search', class: 'slider-team-member-search-button' %>
      </div>
    <% end %>
  </div>

  <div class="slider-team-members-slider-content-box-slider-controls">
    <%= link_to '#', class: 'slider-content-box-previous', title: 'Previous' do %>
      <%= image_tag 'components/icons/content-box/previous.png', alt: '' %>
    <% end %>

    <%= link_to '#', class: 'slider-content-box-next', title: 'Next' do %>
      <%= image_tag 'components/icons/content-box/next.png', alt: '' %>
    <% end %>
  </div>


  <%= image_tag 'components/icons/loading.gif', alt: 'Loading...', class: 'slider-team-members-loading' %>

  <div class="slider-team-members-profiles">
    <div class="slider-team-members-slick">
      <%= render partial: 'team_members/shared/slider_team_member',
                collection: team_members, as: :team_member if team_members.present? %>
    </div>

    <div class="slider-team-members-slick-profile">
      <%= render 'team_members/shared/slider_profile_card', team_member: team_members.first if team_members.present? %>
    </div>
  </div>
</div>
