<div class="slider-team-member-profile">
  <div class="slider-team-member-profile-information">
    <% present team_member do |team_member_presenter| %>
      <strong class="slider-team-member-profile-name">
        <%= link_to team_member_presenter.full_name, team_member %>
      </strong>
      /
      <span class="slider-team-member-role">
        <%= link_to team_member do %>
          <%= team_member_presenter.job_roles %><%= ', ' if team_member_presenter.department_roles? %>
          <%= team_member_presenter.department_roles(sentence_list: true) %>
        <% end %>
      </span>
      <ul class="slider-team-member-profile-details">
        <li class="slider-team-member-office-location">
          <% team_member.offices.each do |office| %>
            <%= link_to "#{office.office_location.name}#{" - #{office.building_name}" if office.building_name.present?}", office_path(office) %><%= ', ' unless office == team_member.offices.last %>
          <% end %>
        </li>
        <li>
          <%= team_member_presenter.linked_email_address(image_tag 'components/icons/team-member/email.png', alt: 'Email') %>
        </li>
        <li>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="slider-team-member-profile-services">
    <strong class="slider-team-member-profile-service-name">
      <% team_member.root_services.order(:title).each do |root_service| %>
        <%= link_to root_service.title, audience_service_path(root_service.audience, root_service) %><%= ', ' unless root_service == team_member.root_services.last %>
      <% end %>
    </strong>
  </div>
</div>
