<% cache [team_member, team_member.offices.map(&:updated_at).max, team_member.job_roles.map(&:updated_at).max, team_member.department_roles.map(&:updated_at).max, team_member.root_services.map(&:updated_at).max] do %>
  <div class="slider-team-member-profile">
    <div class="slider-team-member-profile-information">
      <% present team_member do |team_member_presenter| %>
      <%= link_to team_member, title: "Find out more about #{team_member_presenter.full_name}", class: 'slider-team-member-name-and-role' do %>
        <strong class="slider-team-member-profile-name">
          <%= team_member_presenter.full_name %>
        </strong>
        /
        <span class="slider-team-member-role">
          <%= render(
            partial: "team_members/shared/unlinked_profile_role",
            locals: {
              team_member: team_member,
              team_member_presenter: team_member_presenter
            }
          ) %>
        </span>
      <% end %>

      <ul class="slider-team-member-profile-details">
        <li class="slider-team-member-office-location">
          <%= render(
            partial: "offices/team_member_office",
            collection: team_member.offices.includes(:office_location),
            cached: true,
            as: :office,
            locals: {
              team_member: team_member
            }
          ) %>
      </li>
      <li>
        <%= team_member_presenter.linked_email_address(image_tag 'components/icons/team-member/email.png', alt: 'Email') %>
      </li>
      <li>
      </li>
      </ul>
    <% end %>
    </div>
    <div class="slider-team-member-profile-services">
      <strong class="slider-team-member-profile-service-name">
        <%= render(
          partial: "team_members/shared/root_services",
          locals: {
            team_member: team_member
          }
        ) %>
    </strong>
    </div>
  </div>
<% end %>
