<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/team-members/slider.js' %>
<% end %>

<div class="slider-team-members">
  <div class="slider-team-members-title">
    <h2 class="slider-content-box-title">
      <%= title if defined?(title) %>
    </h2>
  </div>

  <div class="slider-team-member-form-controls">
    <h2 class="slider-team-member-form-title">
      Find People By
    </h2>

    <%= form_tag search_team_members_path, method: :get, remote: true, class: 'slider-team-member-search-form' do %>
      <%= render 'team_members/shared/find_people_by_form_fields' %>
    <% end %>
  </div>

  <div class="slider-team-members-slider-content-box-slider-controls">
    <%= link_to '#', class: 'slider-content-box-previous', title: 'Previous' do %>
      <%= image_tag 'components/icons/content-box/previous.png', alt: '' %>
    <% end %>

    <%= link_to '#', class: 'slider-content-box-next', title: 'Next' do %>
      <%= image_tag 'components/icons/content-box/next.png', alt: '' %>
    <% end %>
  </div>


  <%= image_tag 'components/icons/loading.gif', alt: 'Loading...', class: 'slider-team-members-loading' %>

  <div class="slider-team-members-profiles">
    <div class="slider-team-members-slick">
      <%= render partial: 'team_members/shared/slider_team_member',
                collection: team_members, as: :team_member if team_members.present? %>
    </div>

    <div class="slider-team-members-slick-profile">
      <%= render 'team_members/shared/slider_profile_card', team_member: team_members.first if team_members.present? %>
    </div>
  </div>
</div>
