<% cache [team_member, team_member.job_roles.map(&:updated_at).max, team_member.department_roles.map(&:updated_at).max, team_member.root_services.map(&:updated_at).max] do %>
  <div class="slider-team-member">
    <% present team_member do |team_member_presenter| %>
      <%= link_to '#',
                  class: 'slider-team-member-profile-card-update',
                  data: {
                    container: ".slider-team-member-profile-card-#{team_member_presenter.id}"
                  } do %>
        <%= team_member_presenter.slider_image %>
        <div class="slider-team-member-forename">
          <%= team_member_presenter.forename %>
        </div>
      <% end %>
      <div class="slider-team-member-profile-card-<%= team_member_presenter.id %> hide">
        <%= render 'team_members/shared/slider_profile_card', team_member: team_member %>
      </div>
    <% end %>
  </div>
<% end %>
