<% cache [resource, resource.services.map(&:updated_at).max] do %>
  <div class="index-module index">
    <div class="standard-content-box standalone">
      <% present resource do |resource_presenter| %>
        <%= link_to (resource.services.present? && resource.services.first.audience.present? ? audience_service_resource_path(resource.services.first.audience, resource.services.first, resource) : resource.file.url) do %>
        <%#= link_to resource.file.url, title: resource_presenter.title, class: 'index-module-link', target: '_blank' do %>
          <%= content_tag :div, resource_presenter.show_image(alt: resource_presenter.title), class: 'index-module-image' if resource_presenter.index_image.present? %>
          <div class="index-module-details-overview">
            <div class="index-module-shares">
              <div class="social-share-count" href="<%= url_for([resource, only_path: false]) %>">
              </div>
            </div>
          </div>
          <div class="index-module-details-wrap">
            <div class="index-module-title">
              <%= resource_presenter.title %>
            </div>

            <div class="index-module-summary">
              <%= resource_presenter.summary %>
            </div>

            <%= content_tag :div,
              'Read More',
              {
                id: "Resource-#{ resource.id }",
                class: 'service-resource-download-button',
                title: resource_presenter.title
              } %>

            <%#= resource_presenter.linked_download(
              'Download',
              {
                id: "Resource-#{ resource.id }",
                class: 'service-resource-download-button',
                title: resource_presenter.title,
                target: '_blank',
              }) %>

        </div>
      <% end %>
    <% end %>
    </div>
  </div>
<% end %>
