<div class="modal-form__fields">
  <div class="field">
    <%= f.label :forename %>
    <%= f.text_field :forename, class: 'modal-form__field modal-form__field--bordered' %>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname, class: 'modal-form__field modal-form__field--bordered' %>
  </div>
  <div class="field">
    <%= f.label :email_address %>
    <%= f.text_field :email_address, class: 'modal-form__field modal-form__field--bordered' %>
  </div>
  <div class="field">
    <%= f.label :contact_telephone %>
    <%= f.text_field :contact_telephone, class: 'modal-form__field modal-form__field--bordered' %>
  </div>
</div>
<div class="modal-form__split">
  <div class="modal-form__details">
    <div class="field field--full">
      <%= f.label :enquiry_type %>
      <%= f.text_area :enquiry_type,
                        class: 'modal-form__field
                                modal-form__field--bordered
                                modal-form__field--full' %>
    </div>
  </div>
  <div class="modal-form__aside">
    <div class="field">
      <%= f.label :callback_time, class: 'modal-form__label modal-form__label--hidden' %>
      <%= f.select :callback_time, options_for_select(CallbackRequest::TIMES), { prompt: 'Callback time' }, class: 'modal-form__select modal-form__select--bordered' %>
    </div>
    <% if @offices.present? %>
      <div class="field">
        <%= f.label :preferred_office, class: 'modal-form__label modal-form__label--hidden' %>
        <%= f.select :preferred_office, options_for_select(@navigation_offices.map{|x| x.address_fields }), { prompt: 'Preferred office' }, class: 'modal-form__select modal-form__select--bordered' %>
      </div>
    <% end %>
    <% if Flipflop.services? %>
      <div class="field">
        <%= f.label :service, class: 'modal-form__label modal-form__label--hidden' %>
        <%= f.select :service, grouped_options_for_select(@form_audiences, selected: (@service.title if @service.present?)), { prompt: 'Preferred service' }, class: 'modal-form__select modal-form__select--bordered' %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :how_heard, 'How did you find us?', class: 'modal-form__label modal-form__label--hidden' %>
      <%= f.select :how_heard, options_for_select(Contact::HOW_HEARDS), { include_blank: 'How did you find us?' }, class: 'modal-form__select modal-form__select--bordered' %>
    </div>
    <%= f.hidden_field :mediation, value: 1 if defined?(mediation) %>
    <%= f.hidden_field :from_url, value: request.original_url %>
    <%= f.hidden_field :large_modal, value: 1 %>
    <div class="actions">
      <%= f.submit "Send", class: "modal-form__submit modal-form__submit--action  modal-form__submit--block" %>
    </div>
  </div>
</div>
