<div class="content-area">
  <div class="content-area__inner content-area__inner--row">
    <section class="office-location-content">
      <div class="content-section content-section--shadow">
        <div class="content-section__full">
          <h1 class="standard-content-box-title standard-content-box-title--no-border">
            Confirm your details
          </h1>
          <p>
            <strong>Please check the the details below are correct before continuing</strong>
          </p>
          <div class="payment">
            <div class="invoice-number">
              <strong>Our reference:</strong> <%= @payment.invoice_number %>
            </div>
            <div class="name">
              <strong>Name:</strong> <%= @payment.name %>
            </div>
            <div class="contact-number">
              <strong>Contact number:</strong> <%= @payment.contact_number %>
            </div>
            <div class="amount">
              <strong>Amount</strong> <%= number_to_currency @payment.amount %>
            </div>
          </div>
          <h3>Debit Card - <%= number_to_currency @payment.amount %></h3>
          <%= render(
      partial: "payments/worldpay",
      locals: {
        amount: @payment.amount,
        payment_type: "SWIT",
        card_type: "Maestro",
      }
    ) %>
          <%= render(
      partial: "payments/worldpay",
      locals: {
        amount: @payment.amount,
        payment_type: "VISD",
        card_type: "Visa Debit",
      }
    ) %>
          <%= render(
      partial: "payments/worldpay",
      locals: {
        amount: @payment.amount,
        payment_type: "VIED",
        card_type: "Visa Electron",
      }
    ) %>
          <h3>Credit Card - <%= number_to_currency @payment.credit_card_amount %></h3>
          <%= render(
      partial: "payments/worldpay",
      locals: {
        amount: @payment.amount,
        payment_type: "VISA",
        card_type: "Visa Credit",
      }
    ) %>
          <%= render(
      partial: "payments/worldpay",
      locals: {
        amount: @payment.amount,
        payment_type: "MSCD",
        card_type: "Mastercard",
      }
    ) %>
          <%= render(
      partial: "payments/worldpay",
      locals: {
        amount: @payment.amount,
        payment_type: "JCB",
        card_type: "JCB",
      }
    ) %>
          <%= render(
      partial: "payments/worldpay",
      locals: {
        amount: @payment.amount,
        payment_type: "AMEX",
        card_type: "American Express",
      }
    ) %>
          <%= render(
      partial: "payments/worldpay",
      locals: {
        amount: @payment.amount,
        payment_type: "DINS",
        card_type: "Diners Card",
      }
    ) %>
        </div>
      </div>
    </section>
    <aside class="office-location-aside">
      <div class="content-section content-section--shadow">
        <div class="content-section__full">
          <h2 class="standard-content-box-title standard-content-box-title--no-border">
            Talk to our team
          </h2>
          <%= render 'pages/shared/call_to_actions_solicitors_landing_page' %>
        </div>
      </aside>
    </div>
  </div>
</div>
