<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/module-categories/toggle' %>
<% end %>

<div class="index-content-wrap">
  <div class="index-content module-index-content" id="event-categories-toggle">
    <%= link_to '#event-categories-toggle', class: 'module-category-toggle see-all', data: { container: '.module-categories-dropdown-wrap', class: 'hide', return: 'false' } do %>
      Event Categories
      <span class="module-category-toggle-expand">+</span>
      <span class="module-category-toggle-minimise">-</span>
    <% end %>

    <h1 class="standard-content-box-title">
      Events
      <% if @event_category.present? %>
        <% present @event_category do |event_category_presenter| %>
          <strong><%= event_category_presenter.title %></strong>
        <% end %>
      <% end %>
    </h1>

    <%= render 'event_categories/shared/toggle_overlay' %>
  </div>
</div>
