<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <ul>
        <% @service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :summary %><br>
        <%= f.text_area :summary %>
      </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'tinymce' %>
      </div>
    <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
      <div class="field">
        <%= f.label :colour %><br />
        <%= f.text_field :colour %>
      </div>

      <%= f.image_field :icon %>

      <%= f.image_field :image %>

      <%= f.image_field :social_share_image %>

      <div class="field">
        <%= f.label :social_share_title %><br>
        <%= f.text_field :social_share_title %>
      </div>

      <div class="field">
        <%= f.label :social_share_description %><br>
        <%= f.text_field :social_share_description %>
      </div>
    <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>
      <div class="field">
        <%= f.label :parent_id %><br>
        <%= f.select :parent_id, Service.where.not(id: @service.id).pluck(:title, :id), include_blank: 'No parent service' %>
      </div>

      <div class="field">
        <%= f.label :related_service_ids, 'Related Services' %><br />
        <%= f.select :related_service_ids,
          grouped_options_for_select(Service.includes(:department).where.not(id: f.object.id)
                    .group_by(&:department)
                    .map{|x| ["#{x[0].title}", x[1].map{|y| [y.title, y.id]}]},
                    selected: f.object.related_services.pluck(:id)),
            {  }, { multiple: true, class: 'multiple-select' } %>
      </div>

      <%= render 'optimadmin/shared/suggested_url_field', f: f %>

      <%= render 'optimadmin/shared/display_status_field', f: f %>

      <div class="field">
        <%= f.label :banner_highlight %><br>
        <%= f.check_box :banner_highlight %>
      </div>
    <% end %>
  </div>

  <%= f.hidden_field :department_id, value: @department.id %>

  <div class="actions">
    <%= f.submit "Save" %>
    <%= f.submit "Save and continue editing" %>
  </div>
<% end %>
