<%= content_for :head do %>
  <style>
    .page-aside-root-service-title,
    .page-aside-parent-title,
    .page-aside-child-navigation-links-list {
      display: none;
    }

    @media screen and (max-width: 1024px) {
      <% if @service.parent.present? %>
        .page-aside-root-service-title,
        .page-aside-parent-title {
          display: block;
        }

        .page-aside-audience-title,
        .page-aside-root-title {
          display: none;
        }
      <% end %>
    }
  </style>
<% end %>

<% # cache [@service, @service.audience] do %>
  <% present @service do |service_presenter| %>
    <div class="page-aside-audience-title">
      <h2 class="page-aside-navigation-title">
        Services <%= service_presenter.audience.title %>
      </h2>
    </div>

    <% if @service.parent.present? %>
      <div class="page-aside-root-service-title">
        <h2 class="page-aside-navigation-title">
          <%= link_to @service.parent.title, audience_service_path(@service.parent.audience, @service.parent) %>
        </h2>
      </div>
    <% end %>

    <div class="page-aside-navigation-links">
      <div class="page-aside-root-title">
        <%= link_to @service.root.title, audience_service_path(@service.root.audience, @service.root), { title: "Read #{@service.root.title}", class: "page-aside-navigation-top-level #{'has-children' if @service.children.present?}" } %>
      </div>

      <div class="page-aside-parent-title">
        <%= link_to @service.title, '#', { title: "Read #{@service.title}", class: "page-aside-navigation-top-level #{'has-children' if @service.children.present?}" } %>
      </div>

      <ul class="page-aside-navigation-links-list">
        <%= render partial: 'services/shared/service_pages_links',
                   locals: {
                     service_pages: @service.root.service_pages.displayed
                   }  %>
        <% @service.root.children.displayed_or_landing_page.order(:position).each do |child_service| %>
          <% present child_service do |service_presenter| %>
            <li>
              <%= service_presenter.linked_text(service_presenter.title, { title: "Read #{service_presenter.title}", class: "#{'active' if child_service == @service}" }) %>
              <%= render partial: 'services/shared/service_pages_links',
                         locals: {
                           service_pages: @service.service_pages.displayed
                         } if child_service == @service %>
              <% if child_service.children && (child_service == @service || child_service.descendant_ids.include?(@service.id)) %>
                <%= render partial: 'services/shared/service_page_aside_nested_navigation', locals: { child_service: child_service, index: 0 } %>
              <% end %>
            </li>
          <% end %>
        <% end %>

        <% if @service.title == 'Residential Property in London' || (@service.root.present? && @service.root.title == 'Residential Property in London') %>
          <%= content_for :javascript do %>
            <script>
              $(function() {
                // https://stackoverflow.com/a/6753486
                var $select = $('.conveyancing-cta-button');
                var $div = $('.conveyancing-cta-aside-button');
                var attributes = $select.prop("attributes");
                $.each(attributes, function() {
                  if(this.name == 'class') {
                    return true;
                  }
                  $div.attr(this.name, this.value);
                });
              });
            </script>
          <% end %>
          <li><%= link_to 'Conveyancing Calcuator', new_conveyancing_quotes_location_users_path(ConveyancingQuotes::QuoteLocation.find(1)), class: 'conveyancing-cta-aside-button ga-event' %></li>
        <% end %>
      </ul>

      <ul class="page-aside-navigation-links-list page-aside-child-navigation-links-list">
        <%= render partial: 'services/shared/service_pages_links',
                   locals: {
                     service_pages: @service.root.service_pages.displayed
                   } %>
        <% @service.children.displayed_or_landing_page.order(:position).each do |child_service| %>
          <% present child_service do |service_presenter| %>
            <li>
              <%= service_presenter.linked_text(service_presenter.title, { title: "Read #{service_presenter.title}", class: "#{'active' if child_service == @service}" }) %>
              <%= render partial: 'services/shared/service_pages_links',
                         locals: {
                           service_pages: @service.service_pages.displayed
                         } if child_service == @service %>
              <% if child_service.children && (child_service == @service || child_service.descendant_ids.include?(@service.id)) %>
                <%= render partial: 'services/shared/service_page_aside_nested_navigation', locals: { child_service: child_service, index: 0 } %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% # end %>
