<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/module-categories/toggle' %>
<% end %>

<%= render 'frequently_asked_questions/shared/javascript' %>

<div class="index-content-wrap">
  <div class="index-content module-index-content">
    <%= link_to '#', class: 'module-category-toggle see-all', data: { container: '.module-categories-dropdown-wrap', class: 'hide', return: 'false' } do %>
      Filter by service
      <span class="module-category-toggle-expand">+</span>
      <span class="module-category-toggle-minimise">-</span>
    <% end %>

    <h1 class="standard-content-box-title">
      Frequently Asked Questions
      <% if @service.present? %>
        <% present @service do |service_presenter| %>
          for <strong><%= service_presenter.title %></strong>
        <% end %>
        <%= link_to 'x', frequently_asked_questions_path %>
      <% end %>
    </h1>

    <%= render 'frequently_asked_questions/shared/toggle_overlay' %>
  </div>
</div>

<div class="module-inner-content">
  <div class="page-additional-content">
    <div class="frequently-asked-questions frequently-asked-questions-list-wrap">
      <%= render partial: 'frequently_asked_questions/shared/single_content_box', collection: @faqs, as: :frequently_asked_question %>
    </div>
  </div>

  <div class="module-pagination">
    <%= paginate @faqs %>
  </div>
</div>
