<%= render 'optimadmin/shared/header/main_title', title: 'Manage Service Related Services' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: services_path(department_id: @service.department.id), title: 'Service', prefix: 'Back to' %>

  <div class="row module-header collapse">
  </div>
  <div class="row collapse module-list-index header">
    <%= list_item 'large-1 hide-for-medium-down' do %>
      <%= link_to octicon('settings') %>
    <% end %>
    <%= list_item 'large-11 small-8' do %>
      Related service name
    <% end %>
  </div>
  <div class='module-sortable' data-module="ServiceRelatedService">
    <%= render partial: 'service_related_service', collection: @service_related_services, as: :service_related_service_presenter %>
  </div>
</div>
