<%= form_for(@audience) do |f| %>
  <% if @audience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audience.errors.count, "error") %> prohibited this audience from being saved:</h2>
      <ul>
        <% @audience.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>
    <%= field_set_tag nil, id: 'tabs-3' do %>
      <%= render 'optimadmin/shared/suggested_url_field', f: f %>

      <%= render 'optimadmin/shared/display_status_field', f: f %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
    <%= f.submit "Save and continue editing" %>
  </div>
<% end %>
