<%= content_tag :h1, 'Wealth Management' if @contact.wealth_management.present? %>

<% if @callback_request.forename.present? %>
  <p>
    <strong>Forename</strong><br />

    <%= @callback_request.forename %>
  </p>
<% end %>


<% if @callback_request.surname.present? %>
  <p>
    <strong>Surname</strong><br />

    <%= @callback_request.surname %>
  </p>
<% end %>

<% if @callback_request.email_address.present? %>
  <p>
    <strong>Email address</strong><br />

    <%= @callback_request.email_address %>
  </p>
<% end %>

<% if @callback_request.contact_telephone.present? %>
  <p>
    <strong>Contact telephone</strong><br />

    <%= @callback_request.contact_telephone %>
  </p>
<% end %>

<% if @callback_request.callback_time.present? %>
  <p>
    <strong>Callback time</strong><br />

    <%= @callback_request.callback_time %>
  </p>
<% end %>

<% if @callback_request.preferred_office.present? %>
  <p>
    <strong>Preferred office</strong><br />

    <%= @callback_request.preferred_office %>
  </p>
<% end %>

<% if @callback_request.service.present? %>
  <p>
    <strong>Service</strong><br />

    <%= @callback_request.service %>
  </p>
<% end %>


<% if @callback_request.how_heard.present? %>
  <p>
    <strong>How did you find us?</strong><br />

    <%= @callback_request.how_heard %>
  </p>
<% end %>

<% if @callback_request.enquiry_type.present? %>
  <p>
    <strong>Enquiry type</strong><br />

    <%= @callback_request.enquiry_type %>
  </p>
<% end %>
