<p>
  <strong>Forename</strong><br />

  <%= @callback_request.forename %>
</p>

<p>
  <strong>Surname</strong><br />

  <%= @callback_request.surname %>
</p>

<p>
  <strong>Email address</strong><br />

  <%= @callback_request.email_address %>
</p>

<p>
  <strong>Contact telephone</strong><br />

  <%= @callback_request.contact_telephone %>
</p>

<p>
  <strong>Callback time</strong><br />

  <%= @callback_request.callback_time %>
</p>

<p>
  <strong>Preferred office</strong><br />

  <%= @callback_request.preferred_office %>
</p>

<p>
  <strong>Service</strong><br />

  <%= @callback_request.service %>
</p>

<p>
  <strong>How did you find us?</strong><br />

  <%= @callback_request.find_us %>
</p>

<p>
  <strong>Enquiry type</strong><br />

  <%= @callback_request.enquiry_type %>
</p>
