<%= content_for :javascripts do %>
  <%= javascript_include_tag 'components/home-components.js' %>
<% end %>

<section class="hero-banner">
  <div class="hero-banner-controls-wrap">
    <%= link_to '#', class: 'hero-banner-controls hero-banner-previous',
                     title: 'Previous slide' do %>
      <%= image_tag 'components/icons/hero/previous.png', alt: '' %>
    <% end %>
    <%= link_to '#', class: 'hero-banner-controls hero-banner-next',
                     title: 'Next slide' do %>
      <%= image_tag 'components/icons/hero/next.png', alt: '' %>
    <% end %>
  </div>

  <div class="hero-banner-slick">
    <%= render partial: 'banners/banner', collection: @banners, as: :banner %>
  </div>

  <%= render 'application/shared/hero_banner_navigation' %>
</section>

<div class="content">
  <section class="content-box-wrap">
    <div class="content-box inner">
      <div class="helpful-guide-content-box-slider-controls">
        <%= link_to '#', class: 'content-box-previous', title: 'Previous' do %>
          <%= image_tag 'components/icons/content-box/previous.png', alt: '' %>
        <% end %>
        <%= link_to '#', class: 'content-box-next', title: 'Next' do %>
          <%= image_tag 'components/icons/content-box/next.png', alt: '' %>
        <% end %>
      </div>

      <h2 class="content-box-title">
        Our Helpful Guides
      </h2>

      <div class="helpful-guides-slick">
        <%= render partial: 'downloads/download_shelf',
                  collection: @downloads, as: :download if @downloads.present? %>
      </div>
    </div>
  </section>

  <section class="content-box-wrap">
    <div class="content-box home-team-members">
      <h2 class="content-box-title">
        Find People By
      </h2>

      <%= form_tag '', method: :post, remote: true, class: 'home-team-member-search-form' do %>
        <div class="home-team-member-search-field">
          <%= text_field_tag :name, '', placeholder: 'Name',
                                        class: 'home-team-member-search-name' %>
        </div>
        <div class="home-team-member-search-field">
          <%= select_tag :service, options_for_select(@services),
                                   prompt: 'Service',
                                   class: 'home-team-member-search-service' %>
        </div>
        <%= submit_tag 'Search', class: 'home-team-member-search-button' %>
      <% end %>

      <div class="home-team-members-content-box-slider-controls">
        <%= link_to '#', class: 'content-box-previous', title: 'Previous' do %>
          <%= image_tag 'components/icons/content-box/previous.png', alt: '' %>
        <% end %>

        <%= link_to '#', class: 'content-box-next', title: 'Next' do %>
          <%= image_tag 'components/icons/content-box/next.png', alt: '' %>
        <% end %>
      </div>

      <div class="home-team-members-profiles">
        <div class="home-team-members-slick">
          <%= render partial: 'team_members/home_team_member',
                    collection: @team_members, as: :team_member if @team_members.present? %>
        </div>

        <div class="home-team-members-slick-profile">
          <%= render 'team_members/profile_card', team_member: @team_members.first if @team_members.present? %>
        </div>
      </div>
    </section>

    <section class="content-box-wrap">
      <div class="content-box inner testimonials">
        <h2 class="content-box-title testimonials-title">
          A People Business
        </h2>

        <div class="testimonials-slick">
          <%= render @testimonials %>
        </div>
      </div>
    </section>

    <section class="content-box-wrap">
      <div class="content-box inner">
        <div class="articles-content-box-slider-controls">
          <%= link_to '#', class: 'content-box-previous', title: 'Previous' do %>
            <%= image_tag 'components/icons/content-box/previous.png', alt: '' %>
          <% end %>
          <%= link_to '#', class: 'content-box-next', title: 'Next' do %>
            <%= image_tag 'components/icons/content-box/next.png', alt: '' %>
          <% end %>
        </div>

        <h2 class="content-box-title">
          News
        </h2>

        <div class="articles-slick">
          <%= render partial: 'articles/home_article', collection: @articles, as: :article %>
        </div>
      </div>
    </section>
  </div>
