<div class="row collapse module-list-index header">
  <%= list_item 'large-8 small-8' do %>
    Title
  <% end %>
  <%= list_item { 'Display' } %>
  <%= list_item { 'View' } %>
  <%= list_item { 'Edit' } %>
  <%= list_item('large-1 hide-for-medium-down text-center last'){ 'Delete' } %>
</div>
<%= render partial: 'article_category', collection: @article_categories, as: :article_category_presenter %>
<%= paginate @article_categories %>
