<% total = 0 %>
<div class="conveyancing-quote purchase">
  <h2>Your Purchase Conveyancing Quote</h2>

  <div class="conveyancing-cost">
    <div class="conveyancing-cost-description">
      Buying a property for <strong><%= number_to_currency purchase.price %></strong>.
    </div>
    <div class="conveyancing-cost-item">
      Fee
    </div>
    <div class="conveyancing-cost-item">
      VAT
    </div>
    <div class="conveyancing-cost-item">
      Total
    </div>
  </div>

  <div class="conveyancing-cost">
    <div class="conveyancing-cost-description">
      Banner Jones Conveyancing Costs
    </div>
    <div class="conveyancing-cost-item">
      <%= number_to_currency purchase.fee %>
    </div>
    <div class="conveyancing-cost-item">
      +<%= number_to_currency purchase.vat %>
    </div>
    <div class="conveyancing-cost-item">
      <%= number_to_currency purchase.total %>
      <% total += purchase.total %>
    </div>
  </div>

  <% purchase.additional_costs.each do |additional_cost| %>
    <% cost = ConveyancingCalculator.configuration.additional_costs[:london].reduce(Hash.new, :merge)[additional_cost] %>
    <% vat = cost * ConveyancingCalculator.configuration.vat_rate %>
    <div class="conveyancing-cost">
      <div class="conveyancing-cost-description">
        <%= additional_cost.to_s.humanize.titlecase %>
      </div>
      <div class="conveyancing-cost-item">
        <%= number_to_currency cost %>
      </div>
      <div class="conveyancing-cost-item">
        +<%= number_to_currency vat %>
      </div>
      <div class="conveyancing-cost-item">
        <%= number_to_currency cost + vat %>
        <% total += (cost + vat) %>
      </div>
    </div>
    <%= cost = vat = nil %>
  <% end %>

  <h3>This is what you have to pay other Government Agencies</h3>

  <div class="conveyancing-cost">
    <div class="conveyancing-cost-description">
      Stamp Duty Land Tax
    </div>
    <div class="conveyancing-cost-item">
      <%= number_to_currency purchase.stamp_duty %>
    </div>
    <div class="conveyancing-cost-item">

    </div>
    <div class="conveyancing-cost-item">
      <%= number_to_currency purchase.stamp_duty %>
      <% total += purchase.stamp_duty %>
    </div>
  </div>

  <hr />

  <div class="conveyancing-cost">
    <div class="conveyancing-cost-description">
      Overall total
    </div>
    <div class="conveyancing-cost-item">
    </div>
    <div class="conveyancing-cost-item">

    </div>
    <div class="conveyancing-cost-item">
      <%= number_to_currency total %>
    </div>
  </div>


  <%= link_to I18n.t("conveyancing_quotes.download_button"),
    conveyancing_quotes_purchase_download_path(purchase, format: "pdf"),
    target: "_blank",
    class: "download-button" %>
</div>

<%#= link_to 'Continue to selling quote', new_conveyancing_quotes_sale_path if @user.selling? %>
