<div class="conveyancing-quote purchase">
  <h1>Your Conveyancing Quote</h1>

  <%= render(
    partial: "conveyancing_quotes/user_details",
    locals: {
      quote: @conveyancing_quote_purchase
    }
  ) %>
  <div class="purchase-price">
    For a purchase at <%= number_to_currency @conveyancing_quote_purchase.price %>
  </div>
  <div class="purchase-fee">
    Our fees will be <%= number_to_currency @conveyancing_quote_purchase.fee %>
  </div>
  <div class="disbursements">
    <div class="stamp-duty">
      Stamp Duty Land Tax <%= number_to_currency @conveyancing_quote_purchase.stamp_duty %>
    </div>
  </div>
</div>

<% @conveyancing_quote_purchase.additional_costs.each do |additional_cost| %>
  <%= additional_cost.to_s.humanize %>
  <%= ConveyancingCalculator.configuration.additional_costs[:london].reduce(Hash.new, :merge)[additional_cost] %>
<% end %>

<%= link_to I18n.t("conveyancing_quotes.download_button"),
  conveyancing_quotes_purchase_download_path(@conveyancing_quote_purchase, format: "pdf"),
  target: "_blank",
  class: "download-button" %>
