<%= form_for user,
            url: conveyancing_quotes_location_users_path,
            html: {
                  class: 'conveyancing-content-form
                          conveyancing-content-form--full'
            } do |f| %>
  <%= render 'shared/form_errors',
      object: user,
      form_name: 'conveyancing quote' %>
  <%= render 'conveyancing_quotes/users/shared/form_fields', f: f %>
  <div class="actions">
    <%= f.hidden_field :details_required, value: 1 %>
    <%= f.submit 'Contact us',
                  class: 'conveyancing-content-form__submit ga-event',
                  data: {
                    event_category: 'Conveyancing Calculator',
                    event_action: 'Click',
                    event_label:  'Contact us',
                    disable_with: 'Submitting...'
                  }  %>
  </div>
<% end %>
