<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/conveyancing-quotes/form' %>
<% end %>

<section class="conveyancing-landing-hero">
  <div class="conveyancing-landing-hero__content">
    <div class="conveyancing-landing-hero__content-inner">
      <h1 class="conveyancing-landing-hero__title">
        <%= title %>
      </h1>
      <%= raw details %>
      <div class="conveyancing-landing-hero-form">
        <%= render partial: "conveyancing_quotes/sale_and_purchases/form",
                  locals: {
                    conveyancing_quote_sale_and_purchase:
                    conveyancing_quote_sale_and_purchase
                  } %>
      </div>
    </div>
  </div>
  <%= image_srcset 'layout/conveyancing-calculator/hero-banner.jpg',
                    {
                      'layout/conveyancing-calculator/hero-banner@2x.jpg': '2x',
                      'layout/conveyancing-calculator/hero-banner@3x.jpg': '3x',
                    },
                    class: 'conveyancing-landing-hero__image' %>
</section>
