<%= content_for :javascript do %>
  <%= javascript_include_tag 'components/conveyancing-quotes/form' %>
<% end %>

<section class="conveyancing-landing-hero">
  <div class="conveyancing-landing-hero__content">
    <div class="conveyancing-landing-hero__content-inner">
      <h1 class="conveyancing-landing-hero__title">
        <%= title %>
      </h1>
      <%= raw details %>
      <div class="conveyancing-landing-hero-form">
        <%= form_for @user,
                    url: conveyancing_quotes_location_users_path,
                    remote: true do |f| %>
          <%= render 'shared/form_errors',
              object: @user,
              form_name: 'conveyancing quote' %>
          <%= render 'conveyancing_quotes/users/shared/form_fields', f: f %>
          <div class="actions">
            <%= f.hidden_field :details_required, value: 1 %>
            <%= f.submit 'Next',
                          class: 'conveyancing-landing-hero-form__submit
                                  conveyancing-landing-hero-form__input--valid
                                  conveyancing-landing-hero-form__submit--action
                                  conveyancing-landing-hero-form__submit--block
                                  ga-event',
                          data: {
                            event_category: 'Conveyancing Calculator',
                            event_action: 'Click',
                            event_label:  'Initial submission',
                            disable_with: 'Submitting...'
                          }  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= image_srcset 'layout/conveyancing-calculator/hero-banner.jpg',
                    {
                      'layout/conveyancing-calculator/hero-banner@2x.jpg': '2x',
                      'layout/conveyancing-calculator/hero-banner@3x.jpg': '3x',
                    },
                    class: 'conveyancing-landing-hero__image' %>
</section>
