<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>
      <ul>
        <% @blog_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>
    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :summary %><br>
        <%= f.text_area :summary %>
      </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'tinymce' %>
      </div>
      <%= f.datepicker_field :date %>
    <% end %>
    <%= field_set_tag nil, id: 'tabs-2' do %>
      <%= f.image_field :social_share_image %>
      <%= f.image_field :image %>
      <div class="field">
        <%= f.label :social_share_title %><br>
        <%= f.text_field :social_share_title %>
      </div>
      <div class="field">
        <%= f.label :social_share_description %><br>
        <%= f.text_field :social_share_description %>
      </div>
    <% end %>
    <%= field_set_tag nil, id: 'tabs-3' do %>
      <div class="field">
        <%= f.label :blog_category_id %><br>
        <%= f.select :blog_category_id, BlogCategory.pluck(:title, :id), prompt: 'Please select' %>
      </div>
      <div class="field">
        <%= f.label :team_member_id %><br>
        <%= f.select :team_member_id, TeamMember.displayed.map{ |x| ["#{x.forename} #{x.surname}", x.id] }, include_blank: 'No team member' %>
      </div>
      <%= render 'optimadmin/shared/display_status_field', f: f %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
    <%= f.submit 'Save and continue editing' %>
  </div>
<% end %>
