<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9 lte9"> <![endif]-->
<html>
  <%= render 'layouts/shared/head' %>

  <body>
    <%= render 'layouts/tag_manager' %>
    <%= render 'layouts/application/header' %>

    <%= yield %>

    <%= render 'layouts/application/footer' %>

    <%= render 'layouts/shared/javascripts' %>
  </body>
</html>
