<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie ie9 lte9"> <![endif]-->
<html lang="en">
  <%= render 'layouts/shared/head' %>

  <body>
    <%= render 'layouts/tag_manager' %>
    <%= render 'layouts/application/header' %>

    <%#= content_for :custom_telephone do global_site_settings['Phone - Mediation'] end if @service.title == 'Mediation' %>
    <%= content_for :custom_telephone do global_site_settings['Phone - Wealth Management'] end if @service.layout == 'wealth_management' %>

    <%= render 'services/shared/show_header' %>

    <div class="page-content-wrap">
      <div class="page-content full">
        <% cache @service do %>
          <% present @service do |service_presenter| %>
            <h1 class="service-page-title" style="<%= service_presenter.colour_property_helper('border-color') %>">
              <%= yield :content_title %>
              <%= service_presenter.small_icon({alt: service_presenter.title, class: 'service-page-icon'}) %>
            </h1>

            <main>
              <%= yield %>
            </main>
          <% end %>
        <% end %>
      </div>

      <aside class="page-additional-information">
        <%= render 'services/shared/sidebar_content' %>

        <div class="conveyancing-accreditations">
          <%= image_tag 'components/conveyancing-calculator/conveyancing-accreditation.png', alt: 'Conveyancing Quality' %>
          <%= image_tag 'components/conveyancing-calculator/conveyancing-award.png', alt: 'The Conveyancing Awards' %>
        </div>
      </aside>
    </div>


    <%= render 'layouts/application/footer' %>

    <%= render 'layouts/shared/javascripts' %>
  </body>
</html>
