<%= form_for model, url: (model.new_record? ? resource_resources_sections_path(@resource) : resource_resources_section_path(@resource, model)) do |f| %>
  <%= render 'optimadmin/shared/form_errors', model: model %>

  <%= render 'form_fields', f: f %>

  <div class="actions">
    <%= f.submit 'Save' %>
    <%= f.submit 'Save and continue editing' %>
  </div>
<% end %>
